.upload-from-email {
	h1 {
		margin-top: 56px;
		margin-bottom: 32px;
	}

	.email-upload {
		&-item {
			min-width: 50%;
			margin-bottom: 50px;
			padding-bottom: 5px;
			box-sizing: border-box;

			&:first-child {
				padding-right: 32px;
			}

			&:last-child {
				padding-left: 32px;
				border-left: 1px solid $gray-light;
			}

			h2 {
				margin-bottom: 15px;
			}

			p {
				margin-bottom: 16px;
			}

			.email-generation {
				border: 1px solid $red-light;
				box-sizing: border-box;
				border-radius: 4px;
				padding: 12px 15px 11px 14px;
				font-family: "Rubik";
				font-weight: 500;
				line-height: 24px;
				font-size: 16px;
				color: $red-light;
				width: fit-content;
				display: block;

				&:hover {
					border: 1px solid $red-medium;
					color: $red-medium;
				}

				&:focus {
					border: 1px solid $red-dark;
					color: $red-dark;
				}
			}

			.list-email {
				&-item {
					border-radius: 4px;
					background-color: $white-color;
					padding: 13px 16px;
					line-height: 24px;
					font-size: 16px;
					font-family: "Rubik";
					font-weight: 400;
					color: $black-light;
					width: 128px;
					margin-right: 16px;
					position: relative;

					span {
						display: block;
						position: absolute;
						top: 18px;
						right: 19px;
						height: 13px;
						width: 18px;
						background-image: url("../images/arrow-black.svg");
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
					}

					&:hover {
						color: $red-medium;

						span {
							background-image: url("../images/arrow-hover.svg");
						}
					}

					&:focus {
						color: $red-dark;

						span {
							background-image: url("../images/arrow-focus.svg");
						}
					}

					&.disabled {
						color: #8D99AE;

						span {
							background-image: url("../images/arrow-disable.svg");
						}
					}
				}
			}
		}
	}

	.success-btn {
		width: 224px;
		height: 48px;
		border: none;
		font-family: "Rubik";
		font-weight: 500;
		line-height: 16px;
		font-size: 12px;
		text-align: center;
		text-transform: uppercase;
		border-radius: 4px;
		background-color: $red-light;
		color: $white-color;
		margin-bottom: 200px;

		&:hover {
			background-color: $red-medium;
		}

		&:focus {
			background-color: $red-dark;
		}
	}


	.success-file {
		background: $white-color;
		border-radius: 8px;
		height: 496px;
		text-align: center;
		margin-bottom: 48px;

		img {
			margin-top: 152px;
			margin-bottom: 32px;
		}

		h2 {
			margin-bottom: 8px;
		}

		p {
			max-width: 451px;
			margin: auto;
		}
	}

	.line {
		width: 160px;
		height: 1px;
		margin: auto;
		margin-bottom: 24px;
		background: $gray-light;
	}

	.link-question {
		-webkit-flex-direction: row;
		flex-direction: row;

		&-item {
			margin-bottom: 80px;
			font-family: 'Rubik', sans-serif;
			font-weight: 400;
			line-height: 24px;
			font-size: 16px;
			color: $black-light;

			&:first-child {
				margin-right: 8px;
			}

			a {
				color: $red-light;
			}
		}
	}
}


@include media-breakpoint-down(md) {
	.upload-from-email {
		h1 {
			margin-top: 40px;
			margin-bottom: 32px;
		}

		.email-upload {
			&-item {
				margin-bottom: 72px;
				padding-bottom: 0px;

				&:first-child {
					padding-left: 1px;
					padding-right: 16px;
				}

				&:last-child {
					padding-left: 15px;
				}

				h2 {
					margin-bottom: 14px;
				}

				.list-email {
					-webkit-flex-wrap: wrap;
					flex-wrap: wrap;

					&-item {
						margin-bottom: 15px;
						min-width: 128px;

						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}

		.success-btn {
			margin-bottom: 46px;
		}

		.success-file {
			height: 336px;

			img {
				margin-top: 72px;
				margin-bottom: 25px;
			}
		}

		.line {
			margin-bottom: 24px;
		}

		.link-question {
			&-item {
				margin-bottom: 64px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.upload-from-email {
		h1 {
			margin-top: 32px;
			margin-bottom: 23px;
		}

		.email-upload {
			-webkit-flex-direction: column;
			flex-direction: column;

			&-item {
				text-align: center;
				min-width: 100%;
				margin-bottom: 39px;

				&:first-child {
					padding-right: 0px;
					position: relative;

					&:after {
						content: "";
						display: block;
						position: absolute;
						bottom: -25px;
						width: 160px;
						height: 1px;
						background-color: $gray-light;
						left: 0;
						right: 0;
						margin: auto;
					}
				}

				&:last-child {
					padding-left: 0px;
					border-left: none;
					margin-bottom: 0;
				}

				h2 {
					line-height: 24px;
					font-size: 16px;
					font-family: "Rubik";
					font-weight: 500;
					margin-bottom: 7px;
				}

				p {
					margin-bottom: 16px;
				}

				.email-generation {
					margin-top: 18px;
					width: 100%;
					text-align: center;
				}

				.list-email {
					-webkit-flex-direction: column;
					flex-direction: column;
					&-item {
						width: 100%;
						margin-right: 0;
						margin-bottom: 14px;
						text-align: left;

						&:last-child {
							margin-bottom: 24px;
						}
					}
				}
			}
		}

		.success-btn {
			width: 100%;
			margin-bottom: 47px;
		}

		.success-file {
			height: 288px;
			text-align: center;
			margin-bottom: 48px;

			img {
				margin-top: 32px;
				margin-bottom: 24px;
			}

			h2 {
				font-family: "Rubik";
				font-weight: 500;
				line-height: 24px;
				font-size: 16px;
				color: $black-light;
				max-width: 90%;
				margin: auto;
				margin-bottom: 8px;
			}

			p {
				padding: 0 24px;
				margin: auto;
			}
		}

		.line {
			margin-bottom: 26px;
		}

		.link-question {
			&-item {
				margin-bottom: 66px;
			}
		}
	}
}