.server {
	h1 {
		margin-top: 56px;
		margin-bottom: 32px;
	}

	h2 {
		margin-bottom: 14px;
	}

	.p-title {

	}

	.form-server {
		background: $white-color;
		border-radius: 8px;
		padding: 32px 32px 48px 32px;
		margin-top: 32px;
		margin-bottom: 32px;

		&-title {
			font-family: "Montserrat-Bold";
			line-height: 24px;
			font-size: 20px;
			color: $black-light;
			margin-bottom: 16px;
		}

		.form-group {
			margin-bottom: 15px;

			label {
				margin-bottom: 8px;
				font-family: "Rubik";
				font-weight: 500;
				line-height: 24px;
				font-size: 16px;
				color: $black-light;
			}

			.form-control {
				height: 48px;
				background: $white-color;
				border: 1px solid $gray-light;
				box-sizing: border-box;
				border-radius: 4px;
				padding-left: 24px;
				font-family: Rubik;
				font-size: 16px;
				line-height: 24px;
				color: $black-light;

				&::placeholder {
					color: $dark-gray-light;
				}

				&:hover {
					border: 1px solid $gray-medium;
				}

				&:focus  {
					border: 1px solid $gray-regular;
				}
			}

			.custom-control {
				.custom-control-label {
					font-weight: 400;

					span {
						color: $dark-gray-light;
					}
				}
			}
		}

		.form-radio {		
			label {
				padding-top: 9px;
				margin-bottom: 7px;
			}

			.custom-control {
				label {
					padding-top: 3px;
					line-height: 21px;
				}
			}
		}

		.form-button {
			padding-top: 18px;
			
			.create-btn {
				margin-right: 16px;
			}
		}
	}

	&-method {
		padding-top: 10px;
		margin-bottom: 48px;

		&-item {
			background: $white-color;
			border-radius: 4px;
			width: 208px;
			height: 56px;
			margin-right: 16px;
			padding: 16px;
			font-family: "Rubik";
			font-weight: 400;
			line-height: 24px;
			font-size: 16px;
			color: $black-light;
			position: relative;

			span {
				position: absolute;
				width: 24px;
				height: 24px;
				right: 16px;
				top: 0;
				bottom: 0;
				margin: auto;
				background-image: url("../images/arrow.svg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				color: $red-medium;

				span {
					background-image: url("../images/arrow-hover.svg");
					background-size: auto;
				}
			}

			&:focus {
				color: $red-dark;

				span {
					background-image: url("../images/arrow-focus.svg");
					background-size: auto;
				}
			}

			&.disabled {
				color: #8D99AE;

				span {
					background-image: url("../images/arrow-disable.svg");
					background-size: auto;
				}
			}
		}
	}

	.line {
		width: 160px;
		height: 1px;
		margin: auto;
		margin-bottom: 25px;
		background: $gray-light;
	}


	.link-question {
		-webkit-flex-direction: row;
		flex-direction: row;

		&-item {
			margin-bottom: 80px;
			font-family: 'Rubik', sans-serif;
			font-weight: 400;
			line-height: 24px;
			font-size: 16px;
			color: $black-light;

			&:first-child {
				margin-right: 8px;
			}

			a {
				color: $red-light;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.server {
		h1 {
			margin-top: 40px;
		}

		h2 {
			margin-bottom: 14px;
		}

		.form-server {
			margin-top: 35px;

			.form-radio {		
				label {
					padding-top: 8px;
				}
			}
		}

		.link-question {
			&-item {
				margin-bottom: 64px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.server {
		h1 {
			margin-top: 32px;
			margin-bottom: 24px;
		}

		h2 {
			margin-bottom: 6px;
			line-height: 24px;
			font-size: 16px;
			font-family: "Rubik";
			font-weight: 500;
		}

		.form-server {
			padding: 24px 24px 32px 24px;
			margin-top: 26px;
			margin-bottom: 24px;

			&-title {
				font-family: "Rubik";
				font-weight: 500;
				font-size: 16px;
			}

			.form-radio {		
				label {
					padding-top: 0px;
					margin-bottom: 7px;
				}

				.custom-control {
					label {
						padding-top: 3px;
						line-height: 21px;
					}
				}
			}

			.form-button {
				padding-top: 0;

				.create-btn, .light-btn {
					margin-right: 0;
					width: 100%;
				}

				.create-btn {
					margin-bottom: 16px;
				}
			}
		}

		.title-method {
			font-size: 20px;
			line-height: 24px;
			font-family: "Montserrat-Bold";
		}

		&-method {
			padding-top: 10px;
			margin-bottom: 48px;

			&-item {
				width: 100%;
				margin-right: 0;
				margin-bottom: 16px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.link-question {
			&-item {
				margin-bottom: 64px;
			}
		}
	}
}