.upload {
	h1 {
		margin-top: 56px;
		margin-bottom: 32px;
	}

	&-file {
		text-align: center;
		width: 100%;
		border-radius: 8px;
		background-color: $white-color;
		margin-bottom: 48px;
		box-sizing: border-box;
		border: 1px solid $white-color;
		height: 496px;
		padding: 24px;

		.dropzone-start {
			background-image: url("../images/border.svg");
			background-repeat: no-repeat;
			background-size: contain;
			text-align: center;
			padding-top: 60px;
			padding-bottom: 60px;
			height: 448px;
			width: 100%;

			img {
				margin-top: 38px;
				margin-bottom: 32px;
			}

			h2 {
				margin-bottom: 8px;
			}

			.add-file {
				visibility: hidden;
				width: 0;
				padding: 0;
				border: none;
			}

			.create-btn {
				line-height: 48px;
				margin-top: 16px;
				margin-bottom: 23px;
				margin-left:-4px;
			}

			.gray {
				color: $dark-gray-light;
				margin-bottom: 3px;
			}
		}

		.dropzone-end {
			display: none;
			padding-bottom: 144px;

			img {
				margin-top: 134px;
				margin-bottom: 37px;
			}

			h2 {
				margin-bottom: 8px;
			}
		}

		.show {
			display: block;
		}
	}

	.is-dragover {
		height: 496px;
		border: 1px solid $red-light;
		background-image: url("../images/drop.svg");
		background-position: center;
		background-size: auto;
		background-repeat: no-repeat;
		background-blend-mode: multiply;

		.dropzone-start {
			display: none;
		}
	}
	

	.line {
		width: 160px;
		height: 1px;
		margin: auto;
		margin-bottom: 24px;
		background: $gray-light;
	}


	.link-question {
		-webkit-flex-direction: row;
		flex-direction: row;

		&-item {
			margin-bottom: 80px;
			font-family: 'Rubik', sans-serif;
			font-weight: 400;
			line-height: 24px;
			font-size: 16px;
			color: $black-light;

			&:first-child {
				margin-right: 8px;
			}

			a {
				color: $red-light;
			}
		}
	}
}

@include media-breakpoint-down(lg) {
	.upload {
		&-file {
			.dropzone-start {
				background-image: url("../images/border-t.svg");
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.upload {
		h1 {
			margin-top: 41px;
		}

		&-file {
			height: 336px;
			padding: 16px;

			&-title {
				display: none;
			}

			.dropzone-start {
				background-image: url("../images/border-t.svg");
				background-repeat: no-repeat;
				padding-top: 0;
				padding-bottom: 0;
				height: 304px;

				img {
					margin-top: 55px;
					margin-bottom: 30px;
				}

				.add-file {
					visibility: hidden;
					width: 0;
					padding: 0;
					border: none;
				}

				.create-btn {
					margin: auto;
					display: block;
					line-height: 48px;
					margin-top: 0;
					margin-bottom: 24px;
				}
			}

			.dropzone-end {
				display: none;
				padding-bottom: 144px;

				img {
					margin-top: 56px;
				}
			}

			.show {
				display: block;
			}
		}

		.is-dragover {
			height: 336px;
		}

		.link-question {
			&-item {
				margin-bottom: 64px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.upload {
		h1 {
			margin-top: 32px;
			margin-bottom: 24px;
		}

		&-file {
			height: 392px;
			padding: 16px;

			.dropzone-start {
				padding-top: 59px;
				padding-bottom: 0;
				height: 360px;
				width: 100%;
				padding-left: 10px;
				padding-right: 10px;

				img {
					margin-top: 0;
					margin-bottom: 32px;
				}

				.create-btn {
					margin-top: 0px;
					margin-bottom: 24px;
				}
			}

			.dropzone-end {
				padding-bottom: 0;

				img {
					margin-top: 60px;
					margin-bottom: 37px;
				}
			}
		}
	}
}