.add-price-list {	
	a {
		&:hover {
			text-decoration: none;
		}
	}

	&-title {
		margin-top: 56px;
		margin-bottom: 40px;
	}

	&-type {
		height: 408px;
		text-align: center;
		background-color: $white-color;
		padding: 32px 24px 40px 24px;
		margin-bottom: 48px;
		border-radius: 8px;
		box-shadow: border-box;
		border: 1px solid $white-color;
		transition: 0.25s;
		position: relative;
		
		.image {
			height: 127px;
			width: 96px;
			display: block;
			margin: auto;
			border-bottom: 1px solid $light-gray;
			box-sizing: border-box;
			margin-bottom: 32px;
			position: relative;
			margin-top: 0;

			img {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				margin: auto;
			}
		}

		h2 {
			margin-bottom: 7px;
		}

		p {
			margin-bottom: 24px;
			line-height: 24px;
			font-size: 16px;
			color: $dark-gray-regular;
		}

		.mb-20 {
			margin-bottom: 19px;
		}

		.light-btn {
			display: block;
			margin: auto;
			position: absolute;
			bottom: 40px;
			left: 0;
			right: 0;
			background-color: $white-color;
		}


		&:hover {
			border-color: $red-light;
			transition: 0.25s;
			cursor: pointer;

			.light-btn {
				border-color: $red-light;
				background: $red-light;
				color: $white-color;
				transition: 0.25s;
			}
		}
	}

	.line {
		width: 160px;
		height: 1px;
		margin: auto;
		margin-bottom: 26px;
		background: $gray-light;
	}

	.link-question {
		-webkit-flex-direction: row;
		flex-direction: row;

		&-item {
			margin-bottom: 80px;
			font-family: 'Rubik', sans-serif;
			font-weight: 400;
			line-height: 24px;
			font-size: 16px;
			color: $black-light;

			&:first-child {
				margin-right: 8px;
			}

			a {
				color: $red-light;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.add-price-list {

		.row {
			.col-md-6 {
				&:nth-child(even) {
					padding-left: 8px;
				}
				&:nth-child(odd) {
					padding-right: 8px;
				}
			}
		}

		&-title {
			margin-top: 40px;
			margin-bottom: 32px;
		}

		&-type {
			height: 120px;
			text-align: left;
			padding: 16px 16px 0 0;
			margin-bottom: 16px;
			border-radius: 8px;

			.image {
				height: 48px;
				min-width: 80px;
				border-bottom: none;
				margin-bottom: 0;

				img {
					max-width: 43px;
					max-height: 43px;
				}
			}

			.text {
				h2 {
					line-height: 24px;
					font-size: 16px;
					margin-bottom: 8px;
				}
			}

			.mb-20 {
				margin-bottom: 19px;
			}

			.light-btn {
				display: none;
			}
		}

		.line {
			margin-top: 48px;
		}

		.link-question {
			&-item {
				margin-bottom: 64px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.add-price-list {
		.row {
			.col-md-6 {
				&:nth-child(even) {
					padding-left: 16px;
				}
				&:nth-child(odd) {
					padding-right: 16px;
				}
			}
		}	

		&-title {
			margin-top: 32px;
			margin-bottom: 24px;
		}

		&-type {
			-webkit-align-items: center;
			align-items: center;
			height: 80px;
			margin-bottom: 8px;
			padding: 0;
			padding-right: 16px;

			.image {
				height: 100%;
			}

			.text {
				width: 100%;
				h2 {
					margin-bottom: 0;
				}

				p {
					display: none;
				}
			}
			

			.mb-20 {
				margin-bottom: 0;
			}
		}

		.line {
			margin-top: 40px;
		}

		.link-question {
			&-item {
				margin-bottom: 64px;
			}
		}
	}
}