.basket {
	&-title {
		max-width: 832px;
		margin: auto;
		margin-top: 56px;
		margin-bottom: 24px;

		.clean {
			display: none;
			visibility: hidden;
			min-width: 48px;
			height: 48px;
			border: 1px solid $gray-light;
			box-sizing: border-box;
			border-radius: 4px;
			background: transparent;
			background-image: url("../images/clean.svg");
			background-position: center;
			background-size: auto;
			background-repeat: no-repeat;

			&:hover {
				border-color: $gray-medium;
			}

			&:focus {
				border-color: $gray-regular;
			}
		}

		.light-btn {
			visibility: visible;
		}
	}

	&-block-min {
		display: none;
	}

	&-block {
		max-width: 832px;
		margin: auto;
		background-color: $white-color;
		border-radius: 4px;
		padding: 16px 32px 16px 16px;

		&-title {
			font-family: "Rubik";
			font-weight: 500;
			line-height: 16px;
			font-size: 12px;
			text-transform: uppercase;
			color: $dark-gray-light;
			padding-left: 16px;
			margin-bottom: -8px;

			.producer-col {
				width: 129px;
			}

			.producer-col-min {
				width: 0;
				visibility: hidden;
			}
		}
	}

	.producer-col {
		width: 129px;
	}

	.articul-col {
		width: 227px;
	}

	.availability-col {
		width: 100px;
	}

	.count-col {
		width: 142px;
		text-align: right;
	}

	.price-col {
		width: 106px;
		text-align: right;
	}

	.close-col {
		width: 59px;
	}	

	&-item {
		box-sizing: border-box;
		height: 88px;
		padding: 32px 5px 0px 16px;
		border-bottom: 1px solid $light-gray;
		line-height: 16px;
		font-size: 14px;

		&:last-child {
			border-bottom: none;
		}

		p {
			line-height: 16px;
			font-size: 14px;
			color: $black-light;
		}

		.articul-col {
			.article {
				color: $dark-gray-light;
			}
		}

		.availability-col {
			.date {
				color: $dark-gray-light;
			}
		}

		.count-col {
			width: 142px;
		}

		.price-col {
			padding-top: 8px;
			font-family: "Rubik";
			font-weight: 500;
			line-height: 16px;
			font-size: 14px;
			text-align: right;
		}

		.close-col {
			position: relative;
			span {
				display: block;
				width: 14px;
				height: 14px;
				background-image: url("../images/close.svg");
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				position: absolute;
				right: 0;
				top: 9px;
			}
		}
	}

	&-sum {
		max-width: 832px;
		margin: auto;
		margin-top: 16px;
		margin-bottom: 48px;
		background: $white-color;
		border-radius: 4px;
		padding: 20px 32px;
		p {
			line-height: 48px;
		}

		.sum {
			font-family: "Montserrat-Bold";
			line-height: 48px;
			font-size: 32px;
			text-align: center;
			letter-spacing: 0.02em;
			margin-right: 34px;
			margin-left: 24px;
		}

		.create-btn {
			margin-right: 16px;
		}
	}

	.line {
		width: 160px;
		height: 1px;
		margin: auto;
		margin-bottom: 24px;
		background: $gray-light;
	}

	.link-question {
		-webkit-flex-direction: row;
		flex-direction: row;

		&-item {
			margin-bottom: 80px;
			font-family: 'Rubik', sans-serif;
			font-weight: 400;
			line-height: 24px;
			font-size: 16px;
			color: $black-light;

			&:first-child {
				margin-right: 8px;
			}

			a {
				color: $red-light;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.basket {
		&-title {
			max-width: 100%;
			margin-top: 40px;
		}

		&-block {
			padding: 16px 24px 16px 7px;
			max-width: 100%;

			&-title {
				.producer-col {
					width: 0px!important;
					visibility: hidden!important;
				}

				.producer-col-min {
					width: 89px;
					visibility: visible;
				}
			}
		}

		.producer-col {
			width: 89px;
		}

		.articul-col {
			width: 220px;
		}

		.availability-col {
			width: 100px;
		}

		.count-col {
			width: 150px;
			text-align: left;

			.countItem {
				margin-left: 0;
			}
		}

		.price-col {
			width: 66px;
			text-align: right;
		}

		.close-col {
			width: 60px;
		}	

		&-sum {
			max-width: 100%;
			padding: 20px 26px 20px 24px;

			.create-btn {
				display: none;
			}

			.light-btn {
				margin-left: auto;
				border: none;
				color: $white-color;
				border-radius: 4px;
				background-color: $red-light;
				transition: 0.25s;
				text-transform: uppercase;
				font-family: 'Rubik', sans-serif;
				font-style: normal;
				font-weight: 500;
				line-height: 16px;
				font-size: 12px;

				&:hover {
					background-color: $red-medium;
					transition: 0.25s;
				}

				&:active {
					background-color: $red-dark;
					transition: 0.25s;
				}
			}
		}

		.line {
			margin-bottom: 26px;
		}

		.link-question {
			-webkit-flex-direction: row;
			flex-direction: row;

			&-item {
				margin-bottom: 64px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.basket {
		&-title {
			padding: 0 1px;
			margin-top: 20px;
			margin-bottom: 12px;
			-webkit-align-items: center;
			align-items: center;

			.light-btn {
				visibility: hidden;
			}

			.clean {
				display: block;
				visibility: visible;
			}
		}

		&-block {
			display: none;
		}

		&-block-min {
			display: block;
			padding: 0 1px;

			&-item {
				background: $white-color;
				border-radius: 4px;
				height: 120px;
				width: 100%;
				padding: 16px;
				line-height: 16px;
				font-family: "Rubik";
				font-weight: 400;
				font-size: 14px;
				color: $black-light;
				margin-bottom: 8px;

				.producer-col {
					width: auto;
					font-weight: 500;
					padding-right: 17px;
					position: relative;
					margin-bottom: 8px;

					&:after {
						content: "";
						height: 4px;
						width: 4px;
						background: $gray-light;
						border-radius: 50%;
						position: absolute;
						top: 0;
						bottom: 0;
						margin: auto;
						right: 6px;
					}
				}

				.name-col {
					width: 145px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				.close-col {
					width: auto;
					margin-left: auto;
					position: relative;

					span {
						display: block;
						width: 14px;
						height: 14px;
						background-image: url("../images/close.svg");
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
						position: absolute;
						cursor: pointer;
						right: 5px;
					}
				}

				.article-col {
					color: $dark-gray-light;
					padding-right: 16px;
					position: relative;
					margin-bottom: 16px;

					&:after {
						content: "";
						height: 4px;
						width: 4px;
						background: $gray-light;
						border-radius: 50%;
						position: absolute;
						top: 0;
						bottom: 0;
						margin: auto;
						right: 6px;
					}
				}

				.count-col {
					width: auto;
					color: $dark-gray-light;
				}

				.input-col {
					min-width: 50%;

					.countItem {
						margin-left: 0;

						.btn-minus, .btn-plus {
							line-height: 18.5px;
							font-size: 18px;
						}
					}
				}

				.price-col {
					padding-top: 5px;
					min-width: 50%;
					text-align: right;
					font-weight: 500;
				}
			}
		}

		&-sum {
			margin-top: 16px;
			padding: 16px 16px 24px 16px;

			.d-flex {
				-webkit-flex-direction: column;
				flex-direction: column;
			}

			p {
				line-height: 24px;
			}

			.sum {
				line-height: 40px;
				text-align: left;
				margin-right: 0;
				margin-left: 0;
				margin-top: 8px;
				margin-bottom: 16px;
			}

			.light-btn {
				width: 100%;
				margin-right: 0;
			}
		}

		.line {
			margin-bottom: 24.5px;
		}

		.link-question {
			-webkit-flex-direction: row;
			flex-direction: row;

			&-item {
				margin-bottom: 67px;
			}
		}
	}
}