.connection-provider {
	h1 {
		margin-top: 56px;
		margin-bottom: 32px;
	}

	h2 {
		margin-bottom: 16px;
	}

	&-form {
		background: $white-color;
		border-radius: 8px;
		padding: 32px 32px 32px 32px;
		margin: 32px 0;

		.form-group {
			margin-bottom: 15px;

			label {
				font-family: "Rubik";
				font-style: normal;
				font-weight: 500;
				line-height: 24px;
				font-size: 16px;
				color: $black-light;
				margin-bottom: 8px;
			}

			.form-control {
				height: 48px;
				width: 100%;
				background: $white-color;
				border: 1px solid $gray-light;
				box-sizing: border-box;
				border-radius: 4px;
				font-family: "Rubik";
				font-size: 16px;
				line-height: 24px;
				color: $black-light;

				&:placeholder {

				}

				&:hover {
					border: 1px solid #CBCFD3;
				}

				&:focus {
					border: 1px solid #B7BABE;
				}
			}
		}

		.form-btn {
			padding: 16px 0;

			button:first-child{
				margin-right: 16px;
			}
		}
	}

	.provider-info {
		background: $white-color;
		border-radius: 8px;
		padding: 33px 32px 40px 32px;
		margin-top: 24px;
		margin-bottom: 48px;

		.up {
			margin-bottom: 14px;
		}

		p {
			margin-bottom: 8px;
		}
	}

	.line {
		width: 160px;
		height: 1px;
		margin: auto;
		margin-bottom: 24px;
		background: $gray-light;
	}

	.link-question {
		-webkit-flex-direction: row;
		flex-direction: row;

		&-item {
			margin-bottom: 80px;
			font-family: 'Rubik', sans-serif;
			font-weight: 400;
			line-height: 24px;
			font-size: 16px;
			color: $black-light;

			&:first-child {
				margin-right: 8px;
			}

			a {
				color: $red-light;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.connection-provider {
		h1 {
			max-width: 500px;
			margin: auto;
			margin-top: 40px;
			margin-bottom: 32px;
		}

		h2 {
			margin-bottom: 13px;
		}

		&-form {
			max-width: 544px;
			margin: 33px auto;

			h2 {
				margin-bottom: 16px;
			}

			.form-btn {
				padding: 17px 0 16px 0;

				button:first-child{
					margin-right: 16px;
				}
			}
		}

		.provider-info {
			padding: 30px 32px 43px 32px;
			margin: auto;
			max-width: 544px;
			margin-top: 24px;
			margin-bottom: 48px;
		}

		.line {
			margin-bottom: 26px;
		}

		.link-question {
			&-item {
				margin-bottom: 64px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.connection-provider {
		h1 {
			max-width: 100%;
			margin-top: 32px;
			margin-bottom: 24px;
		}

		h2 {
			margin-bottom: 6px;
			font-family: "Rubik";
			font-weight: 500;
			line-height: 24px;
			font-size: 16px;
		}

		&-form {
			max-width: 100%;
			padding: 24px;
			margin: 24px 0;

			h2 {
				margin-bottom: 16px;
			}

			.form-group {
				margin-bottom: 16px;
			}

			.form-btn {
				-webkit-flex-direction: column;
				flex-direction: column;
				padding: 8px 0;

				button {
					width: 100%;
				}

				button:first-child{
					margin-right: 0;
					margin-bottom: 16px;
				}
			}
		}

		.provider-info {
			padding: 24px 30px 24px 24px;
			margin-top: 16px;

			.up {
				margin-bottom: 14px;
			}

			.mb-0 {
				margin-bottom: 8px!important;
			}

			p {
				margin-bottom: 8px;

				b {
					display: block;
				}
			}
		}

		.link-question {
			&-item {
				margin-bottom: 68px;
			}
		}
	}
}