.setting-price-list {
    &-title {
        h1 {
            margin-top: 56px;
            margin-bottom: 16px;
        }

        h3 {
            margin-bottom: 8px;
        }
    }

    .input-name {
        input {
            width: 100%;
            height: 48px;
            padding: 14px 0 14px 24px; 

            &:hover {
                border: 1px solid $gray-medium;
                outline: none;
            }

            &:focus {
                border: 1px solid $gray-regular;
                outline: none;
            }
        }
    }

    .add-line {
        margin-right: 16px;
        width: 160px; 
    }

    .help-select {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 16px;
        color: $dark-gray-regular;
    }

    .choice-setting {
        margin-top: 16px;
        margin-bottom: 20px;

        &-item {
            margin-right: 32px;

            h3 {
                margin-bottom: 8px;
            }

            .choice_currency {
                width: 192px!important;
            }
        }
    }

    .setting-checkbox {
        margin-bottom: 28px;
        &-item {
            margin-right: 28px;
        }
    }
}

.setting-table {
    &-title {
        padding-bottom: 12px;
        border-bottom: 1px solid $gray-light;
        margin-bottom: 24px;

        p {
            line-height: 26px;
            color: $dark-gray-regular;
        }
    }

    .tab-content {
        position: relative;
        margin-bottom: 32px;

        .btn-right, .btn-left {
            transition: 0.25s;

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
        }

        .btn-right {
            position: absolute;
            top: 42.5%;
            right: 0;
            height: 80px;
            width: 40px;
            background: url('../images/right.svg'); 
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            &:hover {
                background: url('../images/right-hover.svg');
                transition: 0.25s;
            }
        }

        .btn-left {
            position: absolute;
            top: 42.5%;
            left: 0;
            height: 80px;
            width: 40px;
            background: url('../images/left.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            &:hover {
                background: url('../images/left-hover.svg'); 
                transition: 0.25s;
            }
        }

        .tab-pane {
            background-color: $white-color;
            overflow-x: scroll;
            padding: 6px 16px 0 16px;
            border-bottom-left-radius: 6px;
            border-bottom-left-radius: 6px; 

            .table {
                width: max-content;

                .filter-option {
                    padding-top: 10px;
                    padding-left: 16px; 
                }

                .select-active .dropdown-toggle.bs-placeholder {
                    color: $black-dark;
                }

                .select-active .dropdown-toggle {
                    height: 40px;
                    padding: 12px;
                    border: 1px solid #DFE3E8;
                }

                .col-manufacturer {
                    width: 172px;
                }

                .col-articul {
                    width: 121px;
                }

                .col-name {
                    width: 459px;
                }

                .col-price {
                    width: 98px;
                }

                .col-presence {
                    width: 125px;
                }

                .col-delivery {
                    width: 150px;
                }
            }
        }
    }
}

.save-settings {
    &-item {
        margin-bottom: 46px;
        margin-right: 16px;
        line-height: 48px;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: $dark-gray-regular;

        .button-primary {
            border: none;
            width: 209px;
        }

        &:last-child {
            padding-top: 3px;
        }
    }

    .line {
        width: 160px;
        height: 1px;
        background: $gray-light;
        margin: auto;
        margin-bottom: 24px;
    }

    .link-question {
        &-item {
            line-height: 24px;
            margin-bottom: 80px;
            font-family: 'Rubik', sans-serif;
            font-size: 16px;
            color: $black-light;

            &:first-child {
                margin-right: 9px;
            }
            
            a {
                color: $red-light;
            }
        }
    }
}

.save-settings-fixed {
    border-top: 1px solid #DFE3E8;
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $white-color;
    z-index: 2;
    padding: 16px 0;
    
    &-item {
        margin-right: 16px;
        line-height: 48px;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: $dark-gray-regular;

        .button-primary {
            width: 209px;
        }
    }

    .line {
        width: 160px;
        height: 1px;
        background: $gray-light;
        margin: auto;
        margin-bottom: 24px;
    }

    .link-question {
        &-item {
            margin-bottom: 80px;
            font-family: 'Rubik', sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: normal;
            font-size: 16px;
            color: $black-light;

            &:first-child {
                margin-right: 8px;
            }
            
            a {
                color: $red-light;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .setting-price-list {
        &-title {
            h1 {
                margin-top: 38px;
                margin-bottom: 24px;
            }
        }

        .input-name {
            input {
                width: 100%;
                height: 48px;
            }
        }

        .add-line {
            width: 100%;
            margin-right: 0;
        }

        .help-select {
            display: none;
        }

        .choice-setting {
            margin-top: 16px;
            margin-bottom: 20px;

            &-item {
                margin-right: 16px;

                .choice_currency {
                    width: 128px!important;
                }

                select.choice_currency {
                    display: none!important;
                }

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }

    .setting-table {
        &-title {
            padding-bottom: 16px;

            p {
                display: none;
            }
        }
    }


    .save-settings {
        margin-top: 20px;
        &-item {
            line-height: 22px;

            &:last-child {
                margin-right: 0;
            }
        }

        .link-question {
            &-item {
                margin-bottom: 64px;
                &:first-child {
                    margin-right: 6px;
                }
            }
        }

        .line {
            margin-bottom: 28px;
        }
    }

    .save-settings-fixed {
        &-item {
            margin-right: 16px;
            line-height: 24px;

            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .setting-price-list {
        &-title {
            h1 {
                margin-top: 32px;
                margin-bottom: 16px;
            }

            h3 {
                margin-bottom: 8px;
            }
        }

        .add-new-line {
            .form-group {
                margin-bottom: 0;
                width: auto;

                .form-control {
                    height: 48px;
                    padding-left: 24px;

                    &::placeholder {
                        color: #8D99AE;
                        font-family: "Rubik", sans-serif;
                        font-style: normal;
                        font-weight: normal;
                        line-height: 24px;
                        font-size: 16px;
                    }
                }
            }

            .button-plus {
                margin-left: 16px;
                background-color: $red-light;
                height: 48px;
                width: 48px;
                max-width: 48px;
                min-width: 48px;
                text-align: center;
                border-radius: 4px;
                padding-top: 14px;
                padding-left: 14px;

                .fas {
                    text-align: center;
                    line-height: 20px;
                    font-size: 16px;
                    display: block;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    color: $red-light;
                    background-color: $white-color;
                }
            }
        }

        .input-name {
            display: none;
        }

        .add-line {
            display: none;
        }

        .choice-setting {
            -webkit-flex-direction: column;
            flex-direction: column;
            margin-top: 16px;
            margin-bottom: 0;

            &-item {
                margin-right: 0;
                margin-bottom: 16px;

                h3 {
                    margin-bottom: 8px;
                }

                .choice_currency {
                    width: 100%!important;
                }
            }
        }

        .setting-checkbox {
            margin-top: 2px;
            -webkit-flex-direction: column;
            flex-direction: column;
            margin-bottom: 8px;
            &-item {
                margin-right: 0px;
                margin-bottom: 10px;

                &:last-child {
                    label {
                        line-height: 26px;
                    }
                }
            }
        }
    }

    .setting-table {
        padding-top: 5px;
        &-title {
            h2 {
                line-height: 24px;
                font-size: 14px
            }
        }

        .clean-table {
            top: -60px;
        }  
    }

    .save-settings {
        .d-flex {
            -webkit-flex-direction: column;
            flex-direction: column;
        }

        &-item {
            margin-bottom: 16px;
            margin-right: 0;

            .button-primary {
                width: 100%;
            }

            .light-btn {
                width: 100%;
            }

            &:last-child {
                display: none;
            }
        }

        .line {
            margin-top: 32px;
            margin-bottom: 24px;
        }

        .link-question {
            -webkit-flex-direction: row;
            flex-direction: row;

            &-item {
                margin-bottom: 67px;
                font-family: 'Rubik', sans-serif;
                font-weight: 400;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 16px;
                color: $black-light;

                &:first-child {
                    margin-right: 8px;
                }

                a {
                    color: $red-light;
                }
            }
        }
    }

    .save-settings-fixed {
        padding-bottom: 0;
        .d-flex {
            -webkit-flex-direction: column;
            flex-direction: column;
        }

        &-item {
            margin-right: 0px;
            margin-bottom: 16px;

            .button-primary {
                width: 100%
            }

            .light-btn {
                width: 100%;
            }

            &:last-child {
                display: none;
            }
        }
    }
}