.main-page {
	background-color: $white-color;
	min-width: 100%;
	min-height: 100%;

	&-header {
		padding-top: 50px;
		margin-bottom: 65px;

		.header-logo {
			line-height: 1;
			margin-right: 344px;
			padding-right: 0;
		}

		.header-link {
			padding-top: 5px;
			font-family: "Rubik";
			font-weight: 400;
			line-height: 16px;
			font-size: 12px;
			text-transform: uppercase;
			color: $black-light;

			.link {
				padding-left: 5px;
				font-weight: 500;
			}
		}
	}

	&-form {
		h1 {
			margin-bottom: 30px;
		}

		.mb-24 {
			margin-bottom: 16px;
		}

		.form-group {
			margin-bottom: 16px;

			label {
				margin-bottom: 7px;
				font-family: "Rubik";
				font-weight: 500;
				line-height: 24px;
				font-size: 16px;
				color: $black-light;

				span {
					font-weight: 400;
					color: $dark-gray-regular;
				}
			}

			.form-control {
				max-width: 448px;
				height: 48px;
				padding-left: 24px;
			}
		}

		.form-button {
			padding-top: 16.5px;
			margin-bottom: 47px;

			button {
				min-width: 176px;
				margin-right: 16px;
			}

			.person-date {
				font-family: "Rubik";
				font-weight: 400;
				line-height: 16px;
				font-size: 14px;
				color: $dark-gray-light;

				a {
					color: $dark-gray-light;
					font-weight: 500;
				}
			}
		}
	}

	&-question {
		margin-bottom: 56px;
		font-family: "Rubik";
		font-size: 16px;
		line-height: 26px;

		.link {
			padding-left: 5px;
		}
	}

	&-banner {
		min-height: 100%;
		width: 39%;
		position: fixed;
		right: 0;
		top: 0;
		background-image: url("../images/banner.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.login {
	.main-page-form {
		.password {
			span {
				display: none;
			}

			a {
				padding-right: 16px;
				font-size: 16px;
				line-height: 24px;
				color: $dark-gray-regular;
				font-family: "Rubik";
				font-weight: 300;

				&:hover {
					color: $red-light;
				}
			}
		}
	}
}

@media only screen and (max-width: 1440px) {
	.main-page {
		&-banner {
			width: 35.5%;
		}
	} 
}

@include media-breakpoint-down(lg) {
	.main-page {
		&-banner {
			width: 35.5%;
		}

		&-header {
			.header-logo {
				margin-right: auto;
			}

			.header-link {
				margin-left: auto;
			}
		}
	} 
}

@include media-breakpoint-down(md) {
	.main-page {
		.container {
			max-width: 524px;
		}

		&-header {
			padding-top: 50px;
			margin-bottom: 65px;

			.header-logo {
				padding-top: 0; 
				line-height: 1;
				margin-right: auto;
				margin-left: 0;
			}

			.header-link {
				padding-top: 6px;
				margin-right: 2px;
			}
		}

		&-form {
			h1 {
				margin-bottom: 31px;
			}

			.form-group {
				margin-bottom: 16px;

				label {
					margin-bottom: 7px;
				}
			}

			.form-button {
				padding-top: 16.5px;
				margin-bottom: 47px;

				button {
					min-width: 176px;
					margin-right: 16px;
				}

				.person-date {
					font-family: "Rubik";
					font-weight: 400;
					line-height: 16px;
					font-size: 14px;
					color: $dark-gray-light;

					a {
						color: $dark-gray-light;
						font-weight: 500;
					}
				}
			}
		}

		&-question {
			margin-bottom: 56px;
			font-family: "Rubik";
			font-size: 16px;
			line-height: 26px;

			.link {
				padding-left: 5px;
			}
		}

		&-banner {
			display: none;
		}
	}
}

@include media-breakpoint-down(sm) {
	.main-page {
		&-header {
			padding-top: 32px;
			margin-bottom: 26px;
			flex-direction: column;

			.header-logo {
				margin-bottom: 26px;
				margin-right: 0;
				margin-left: 0;

				a {
					line-height: 21px;
				}
			}

			.header-link {
				padding-top: 0;
				margin-left: 0;
			}
		}

		.pr-0 {
			padding-right: 16px!important;
		}

		&-form {
			h1 {
				margin-bottom: 16px;
			}

			.mb-24 {
				margin-bottom: 24px;
			}

			.form-button {
				padding-top: 8px;
				margin-bottom: 12px;
				flex-direction: column;

				button {
					margin-bottom: 20px;
				}

				.person-date {
					margin-bottom: 0;
				}
			}
		}

		&-question {
			margin-bottom: 56px;
		}
	}

	.login {
		.main-page-form {
			.password {
				span {
					display: contents;
					font-weight: 500;
					font-size: 16px;
					line-height: 24px;
				}

				a {
					display: none;
				}
			}
		}
	}
}