.price-list {
	h1 {
		margin-top: 56px;
		margin-bottom: 24px;
	}

	&-tabs {
		margin-bottom: 26px;

		nav .nav-tabs {
			margin-bottom: 16px;
			box-shadow: border-box;
			border-bottom: 1px solid $gray-light;

			.nav-link {
				margin-right: 24px;
				color: $black-light;
				padding: 8px 0 6px 0;
				background-color: $light-gray;
				border: none;
				border-radius: 0;
				font-weight: 400;
				line-height: 24px;
				font-size: 16px;
				font-family: "Rubik";
				border-bottom: 1px solid $gray-light;

				&:hover {
					color: $red-light;
				}

				&:focus {
					color: $red-dark;
				}

				&.active {
					text-shadow: 0 0 .01px $black-light;
					color: $black-light;
					border-bottom: 2px solid $red-light;
				}
			}
		}

		.add-btn-min {
			display: none;
			height: 48px;
			min-width: 48px;
			border: none;
			color: $white-color;
			border-radius: 4px;
			background-color: $red-light;
			transition: 0.25s;
			font-size: 12px;
			position: relative;

			&:hover {
				transition: 0.25s;
				background-color: $red-medium;
			}

			&:active {
				transition: 0.25s;
				background-color: $red-dark;
			}

			span {
				position: absolute;
				top: 14px;
				left: 14px;
				display: inline-block;
				height: 20px;
				width: 20px;
				background-image: url("../images/plus.svg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: auto;
			}
		}


		.form-group {
			margin-bottom: 16px;

			.search-input {
				position: relative;
				.icon {
					position: absolute;
					z-index: 2;
					top: 14px;
					left: 15px;
					width: 17px;
					height: 17px;
					background: url("../images/search.svg");
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}

				.form-control {
					background: $white-color;
					border-radius: 4px;
					line-height: 48px;
					height: 48px;
					font-size: 18px;
					padding-left: 48px;
					padding-top: 2px;

					&::placeholder {
						font-family: "Rubik", sans-serif;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						color: $dark-gray-light;
					}
				}
			}
		}

		.tabs-table {
			.name-col {
				width: 276px; 
			}

			.active-col {
				width: 230px;
			}

			.active-col-min {
				width: 0;
			}

			.availability-col {
				width: 270px;
			}

			.count-col {
				width: 124px;
				text-align: right;
			}

			.date-col {
				width: 148px;
				text-align: right;
			}

			.rating-col {
				width: 40px;
				text-align: left;
			}

			.btn-group {
				.dot {
					width: 16px;
					height: 16px;
					display: block;
					margin-left: 20px;
					margin-right: 4px;
					background-image: url('../images/dot.svg');
					background-repeat: no-repeat;
					background-size: auto;
					background-position: center;
				}
			}

			&-title {
				padding: 12px 16px;
				font-family: "Rubik";
				text-shadow: 0 0 0.01px $dark-gray-light;
				line-height: 16px;
				font-size: 12px;
				text-transform: uppercase;
				color: $dark-gray-light;

				.date-col {
					color: $black-light;
				}

				.rating-col {
					padding-left: 5px;

					.rating-link {
						display: inline-block;
						cursor: pointer;
						height: 12px;
						width: 18px;
						margin-left: 2px;
						background-image: url('../images/rating.svg');
						background-repeat: no-repeat;
						background-size: auto;
						background-position: center;
					}
				}
			}

			&-item {
				background-color: $white-color;
				margin-bottom: 8px;
				border-radius: 4px;
				padding: 16px;
				line-height: 16px;
				font-size: 14px;
				font-family: "Rubik";
				font-weight: 400;
				color: $black-light;
				height: 48px;
				box-sizing: border-box;
				border: 1px solid $white-color;
				transition: 0.25s;

				.bold {
					font-weight: 500;
				}

				&:hover {
					transition: 0.25s;
					border-color: $red-light;
				}

				&:focus, &:active, &:visited {
					transition: 0.25s;
					border-color: $red-dark;
				}
			}

			.item-disable {
				color: $dark-gray-regular;
			}

			.item-finish {
				background: $light-gray;
				border: 1px solid $dark-gray-light;
				box-sizing: border-box;
				padding: 15px 16px;
				color: $dark-gray-regular;
				position: relative;

				&-red {
					color: $red-light;
					text-transform: uppercase;
					font-size: 12px;
					font-weight: 500;
					position: absolute;
					left: 0;
					right: 0;
					margin: auto;
					width: fit-content;
				}
			}
		}

		.provider-tab {
			padding-top: 6px;

			.form-group {
				margin-bottom: 32px;
			}

			&-letter {
				position: absolute;
				top: -20px;
				font-family: "Rubik";
				font-weight: 500;
				line-height: 16px;
				font-size: 12px;
				text-transform: uppercase;
				color: $dark-gray-regular;
			}

			&-item {
				border-radius: 4px;
				height: 160px;
				background-color: $white-color;
				max-width: 160px;
				text-align: center;
				padding-top: 56px;
				margin-bottom: 32px;
				border: 1px solid $white-color;
				box-shadow: border-box;
				transition: 0.25s;

				&-title {
					font-family: "Rubik";
					font-weight: 500;
					line-height: 24px;
					font-size: 16px;
					margin-bottom: 5px;
				}

				&-status {
					font-family: "Rubik";
					font-weight: 400;
					line-height: 16px;
					font-size: 12px;
					color: $dark-gray-regular;
					text-transform: uppercase;
				}

				&:hover {
					border-color: $red-light;
					transition: 0.25s;
				}

				&:focus {
					border-color: $red-dark;
					transition: 0.25s;
				}
			}

			&-rejected {
				background-color: $gray-light;
				border-color: $gray-light;

				.provider-tab-item-status {
					color: $red-light;
				}
			}

			&-connected {
				border-color: $red-light;
				box-shadow: border-box;

				.provider-tab-item-status {
					color: $red-light;
				}

				.connected {
					display: block;
					width: 40px;
					height: 40px;
					position: absolute;
					top: 0;
					left: 15px;
					background-image: url("../images/connected.svg");
					background-size: cover;
					background-position: top left;
					background-repeat: no-repeat;
				}
			}
		}
	}

	.line {
		width: 160px;
		height: 1px;
		margin: auto;
		margin-bottom: 24px;
		background: $gray-light;
	}

	.link-question {
		-webkit-flex-direction: row;
		flex-direction: row;

		&-item {
			margin-bottom: 80px;
			font-family: 'Rubik', sans-serif;
			font-weight: 400;
			line-height: 24px;
			font-size: 16px;
			color: $black-light;

			&:first-child {
				margin-right: 8px;
			}

			a {
				color: $red-light;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.price-list {
		h1 {
			margin-top: 40px;
		}

		&-tabs {
			.tabs-table {

				.name-col {
					width: 256px; 
				}

				.active-col {
					width: 122px;
				}

				.availability-col {
					width: 100px;
				}

				.count-col {
					width: 70px;
					text-align: right;
				}

				.date-col {
					width: 116px;
					text-align: right;
				}

				.rating-col {
					width: 40px;
				}

				.btn-group {
					.dot {
						margin-left: 20px;
						margin-right: 6px;

					}
				}
			}
		}

		.line {
			margin-bottom: 27px;
		}

		.link-question {

			&-item {
				margin-bottom: 64px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.price-list {
		h1 {
			margin-top: 32px;
			margin-bottom: 16px;
		}

		&-tabs {
			margin-bottom: 24px;

			.tab-pane-title {
				.col-9 {
					padding-right: 0px;
				}

				.col-3 {
					padding-left: 8px;
				}
			}

			.form-group {
				margin-bottom: 16px;

				.search-input {
					position: relative;
					.icon {
						position: absolute;
						z-index: 2;
						top: 15px;
						left: 16px;
						width: 17px;
						height: 17px;
						background: url("../images/search.svg");
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center;
					}

					.form-control {
						background: $white-color;
						border-radius: 4px;
						line-height: 48px;
						height: 48px;
						font-size: 18px;
						padding-left: 48px;
						padding-top: 3px;

						&::placeholder {
							font-family: "Rubik", sans-serif;
							font-style: normal;
							font-weight: normal;
							font-size: 16px;
							color: $dark-gray-light;
						}
					}
				}
			}

			.add-btn {
				display: none;
			}
			.add-btn-min {
				display: block;
				margin-left: auto;
				margin-bottom: 24px;
			}

			.tabs-table {
				.name-col {
					width: 85%; 
					-webkit-order: 0;
					order: 0;
					margin-bottom: 8px;
				}

				.active-col {
					width: 0;
					text-indent: 100%;
					white-space: nowrap;
					overflow: hidden;
				}

				.active-col-min {
					-webkit-order: 2;
					order: 2;
					height: 16px;
					width: 31px;
					background-image: url("../images/active.svg");
					background-repeat: no-repeat;
					background-size: auto;
					background-position: center left;
					position: relative;

					&:after {
						position: absolute;
						content: "";
						display: inline-block;
						height: 4px;
						width: 4px;
						border-radius: 50%;
						background-color: #DFE3E8;
						top: 0;
						bottom: 0;
						right: 6px;
						margin: auto;
					}
				}

				.availability-col {
					color: $dark-gray-regular;
					width: 85px;
					-webkit-order: 3;
					order: 3;
					position: relative;

					&:after {
						position: absolute;
						content: "";
						display: inline-block;
						height: 4px;
						width: 4px;
						border-radius: 50%;
						background-color: #DFE3E8;
						top: 0;
						bottom: 0;
						right: 6px;
						margin: auto;
					}
				}

				.count-col {
					color: $dark-gray-regular;
					text-align: left;
					width: auto;
					margin-right: 16px;
					-webkit-order: 4;
					order: 4;
					position: relative;

					&:after {
						position: absolute;
						content: "";
						display: inline-block;
						height: 4px;
						width: 4px;
						border-radius: 50%;
						background-color: #DFE3E8;
						top: 0;
						bottom: 0;
						right: -10px;
						margin: auto;
					}
				}

				.date-col {
					color: $dark-gray-regular;
					width: auto;
					-webkit-order: 5;
					order: 5;
				}

				.rating-col {
					width: 15%;
					-webkit-order: 1;
					order: 1;

				}

				.btn-group {
					width: 100%;
					.dot {
						margin-left: auto;
						margin-right: 4px;
					}
				}

				&-title {
					display: none!important;
				}

				&-item {
					height: 72px;
					-webkit-flex-wrap: wrap;
					flex-wrap: wrap;
				}

				.item-disable {
					color: $dark-gray-regular;

					.active-col-min {
						background-image: url("../images/pause.svg");
					}
				}

				.item-finish {
					.bold {
						width: 85%;
						letter-spacing: -0.2px;
						-webkit-order: 1;
						order: 1;
						overflow: hidden;
						word-wrap: normal;
						height: 16px;
					}

					.btn-group {
						width: 15%;
						-webkit-order: 2;
						order: 2;
					}

					&-red {
						-webkit-order: 3;
						order: 3;
						position: relative;
						left: 0;
						right: auto;
						margin: 8px 0 0 0;
					}
				}
			}

			.provider-tab {
				padding-top: 6px;

				.form-group {
					margin-bottom: 24px;
				}

				&-letter {
					position: absolute;
					top: -20px;
					font-family: "Rubik";
					font-weight: 500;
					line-height: 16px;
					font-size: 12px;
					text-transform: uppercase;
					color: $dark-gray-regular;
				}

				&-item {
					height: 136px;
					max-width: 136px;
					padding-top: 44px;
					margin-bottom: 16px;
				}

				&-rejected {
					background-color: $gray-light;
					border-color: $gray-light;

					.provider-tab-item-status {
						color: $red-light;
					}
				}

				&-connected {
					border-color: $red-light;
					box-shadow: border-box;
				}
			}

			.show-count {
				display: none;
			}

			.pagination {
				margin: auto;
			}
		}

		.line {
			width: 160px;
			height: 1px;
			margin: auto;
			margin-bottom: 26px;
			background: $gray-light;
		}

		.link-question {
			-webkit-flex-direction: row;
			flex-direction: row;

			&-item {
				margin-bottom: 64px;
				font-family: 'Rubik', sans-serif;
				font-weight: 400;
				font-size: 16px;
				color: $black-light;

				&:first-child {
					margin-right: 8px;
				}

				a {
					color: $red-light;
				}
			}
		}
	}
}