.search-page {
	&-title {
		margin-top: 56px;
		margin-bottom: 30px;

		.select-search {
			margin-left: 8px;
			border: none;
			background-color: transparent;

			.btn-light {
				border: none;
				background-color: transparent;
				padding: 0;

				.filter-option {
					width: max-content;
					font-family: "Montserrat-Bold";
					line-height: 40px;
					font-size: 32px;
					letter-spacing: 0.02em;
					color: $red-light;

					&-inner {
						width: max-content;
					}

					&:after {
						border: none;
					}
				}

				&:after {
					content: "";
					border: none;
					height: 11px;
					width: 17px;
					background-image: url("../images/red-arrow.svg");
					background-repeat: no-repeat;
					background-position: center;
					vertical-align: 9px;
				}
			}
		}
	}
	nav {
		border-bottom: 1px solid $gray-light;
		margin-bottom: 24px;

		.nav-tabs {
			.nav-link {
				background: none;
				border: none;
				padding: 0;
				font-family: "Rubik";
				font-weight: 400;
				line-height: 24px;
				font-size: 16px;
				padding-bottom: 5px;
				box-sizing: border-box;
				margin-right: 24px;
				color: $black-light;

				&:last-child {
					margin-right: 0;
				}

				&.active {
					border-bottom: 2px solid $red-light;
				}

				&:hover {
					color: $red-light;
				}
			}
		}
	}

	.select-row {
		margin-bottom: 24px;

		.select {
			width: 352px!important;
			margin-right: 32px;

			&:last-child {
				margin-right: 0;
			}

			.btn-light {
				border: 1px solid $gray-light;
				box-sizing: border-box;
				border-radius: 4px;
				background: $light-gray;
				height: 40px;
				box-sizing: border-box;

				.filter-option {
					height: 40px;
					box-sizing: border-box;
					overflow: hidden;
					padding: 12px 15px;
					font-family: "Rubik";
					line-height: 16px;
					font-size: 12px;
					text-transform: uppercase;

					&:before {
						content: "Аналоги: ";
						display: inline-block;
						height: 16px;
						width: fit-content;
						vertical-align: top;
					}
				}

				.filter-option-inner {
					padding-left: 2px;
					display: inline-block;
					font-weight: 500;
				}
			}
		}

		.select-multi {
			.btn-light {
				.filter-option {
					&:before {
						content: "Прайс-листы: ";
					}
				}
			}
		}

		.filter-item {
			border: none;
			background: transparent;
			font-family: "Rubik";
			font-weight: 500;
			line-height: 16px;
			font-size: 12px;
			padding: 0;
			text-transform: uppercase;
			color: $red-light;

			&:before {
				display: inline-block;
				content: "";
				width: 9px;
				height: 16px;
				margin-right: 7px;
				margin-bottom: -3px;
				background-image: url("../images/filter1.svg");
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}

			&:focus {
				outline: none;
				box-shadow: none;
				color: $red-dark;
			}

			&:hover {
				color: $red-medium;
			}
		}

		.filter-item2 {
			&:before {
				display: inline-block;
				content: "";
				width: 9px;
				height: 16px;
				margin-right: 7px;
				margin-bottom: -3px;
				background-image: url("../images/filter2.svg");
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}
		}

		.filter-item-disable {
			color: $gray-light;

			&:before {
				background-image: url("../images/filter-dis.png");
			}

			&:focus, &:hover {
				color: $gray-light;
			}
		}
	}

	.tab-content {
		.tab-pane {
			.search-table {
				background-color: $white-color;
				padding: 16px;
				border-radius: 4px;

				.manufacturer-col {
					width: 143px;

					.big-col {
						display: block;
					}

					.small-col {
						display: none;
					}
				}

				.article-col {
					width: 89px;
				}

				.name-col {
					width: 360px;
				}

				.count-col {
					width: 100px;
				}

				.delivery-col {
					width: 100px;
					text-align: right;
				} 

				.list-col {
					width: 114px;
					text-align: right;
				} 

				.price-col {
					width: 94px;
					text-align: right;
					font-weight: 500;
					.fas {
						font-size: 12px;
						margin-left: 2px;
					}

					p{
						font-weight: 500;
					}

					a {
						font-weight: 400;
					}
				}

				.basket-col {
					width: 45px;
				}

				.more-col {
					width: 39px;
					text-align: right;
				}

				.btn-group {
					.dot {
						width: 16px;
						height: 16px;
						display: block;
						margin-left: 20px;
						margin-right: 4px;
						background-image: url('../images/dot.svg');
						background-repeat: no-repeat;
						background-size: auto;
						background-position: center;
					}
				}

				&-title {
					font-family: "Rubik";
					font-weight: 500;
					line-height: 16px;
					font-size: 12px;
					text-transform: uppercase;
					color: $dark-gray-regular;
					padding-bottom: 10px;
				}

				&-item {
					font-family: "Rubik";
					font-weight: 400;
					line-height: 16px;
					font-size: 14px;
					color: $black-light;
					box-sizing: border-box;
					border-top: 1px solid $white-color;
					border-bottom: 1px solid $light-gray;
					height: 48px;
					transition: 0.25s;
					cursor: pointer;

					p {
						line-height: 16px;
						font-size: 14px;
					}

					.gray {
						color: $dark-gray-light;
					}

					&:last-child {
						border-bottom: none;
					}

					&:hover {
						border-color: $red-light;
						transition: 0.25s;
					}

					.list-col {
						padding-right: 3px;
					}

					.basket-col {
						.add-to-basket {
							display: block;
							border: none;
							background-color: transparent;
							background-image: url("../images/basket-t.svg");
							height: 20px;
							width: 20px;
							background-repeat: no-repeat;
							background-position: center;
							background-size: auto;
							margin-left: auto;
						}
					}
				}

				&-item-hide {
					visibility: hidden;
					height: 0;
					border: none;
				}

				.analog {
					padding-top: 15px;
					font-family: "Rubik";
					font-weight: 500;
					line-height: 16px;
					font-size: 12px;
					text-transform: uppercase;
					color: $dark-gray-light;
				}
			}

			.table-producer {
				display: none;
				.manufacturer-col {
					width: 143px;

					.big-col {
						display: block;
					}

					.small-col {
						display: none;
					}
				}

				.article-col {
					width: 89px;
				}

				.name-col {
					width: 528px;
				}

				.count-col {
					width: 104px;
				}

				.delivery-col {
					width: 80px;
					text-align: right;
				} 

				.price-col {
					width: 104px;
					text-align: right;
					font-weight: 500;

					p{
						font-weight: 500;
					}

					a {
						font-weight: 400;
					}
				}

				.more-col {
					width: 36px;
					text-align: right;
				}

				.btn-group {
					.dot {
						width: 16px;
						height: 16px;
						display: block;
						margin-left: 20px;
						margin-right: 4px;
						background-image: url('../images/dot.svg');
						background-repeat: no-repeat;
						background-size: auto;
						background-position: center;
					}
				}

				.analog {
					font-family: Rubik;
					font-weight: 500;
					line-height: 16px;
					font-size: 12px;
					text-transform: uppercase;
					margin-bottom: 8px;
					margin-top: 16px;
					color: $dark-gray-light;
					padding-left: 16px;
				}
				
				&-title {
					padding: 0 16px 9px 16px;
					font-family: "Rubik";
					font-weight: 500;
					line-height: 16px;
					font-size: 12px;
					text-transform: uppercase;
					color: $dark-gray-light;
				}

				&-item {
					font-family: "Rubik";
					font-weight: 400;
					line-height: 16px;
					font-size: 14px;
					background: $white-color;
					padding: 16px;
					height: 48px;
					box-sizing: border-box;
					border-bottom: 1px solid $light-gray;
					border-top-right-radius: 4px;
					border-top-left-radius: 4px;
				}

				.collapse {
					.table-producer-item {
						border-radius: 0px;
					}
				}

				.collapse-link {
					display: block;
					width: 100%;
					background: $white-color;
					text-align: center;
					padding: 8px 0;
					font-family: "Rubik";
					font-weight: 500;
					line-height: 14px;
					font-size: 12px;
					text-transform: uppercase;
					color: $dark-gray-light;
					border-radius: 0;
					margin-bottom: 8px;
					border-bottom-left-radius: 4px;
					border-bottom-right-radius: 4px; 

					&:focus {
						box-shadow: none;
					}

					span {
						display: inline-block;
						width: 11px;
						height: 10px;
						margin-left: 6px;
						background-repeat: no-repeat;
						background-image: url("../images/arrow-down.png");
						background-size: auto;
						background-position: center;
					}
				}
			}
		}
	}

	&-load-more {
		display: block;
		width: 100%;
		border: 1px solid $gray-light;
		box-sizing: border-box;
		border-radius: 4px;
		text-transform: uppercase;
		font-family: "Rubik";
		font-weight: 500;
		line-height: 16px;
		font-size: 12px;
		text-align: center;
		color: $black-light;
		margin-top: 16px;
		margin-bottom: 48px;
		height: 48px;
		background-color: transparent;
	}

	.line {
		width: 160px;
		height: 1px;
		margin: auto;
		margin-bottom: 24px;
		background: $gray-light;
	}


	.link-question {
		-webkit-flex-direction: row;
		flex-direction: row;

		&-item {
			margin-bottom: 80px;
			font-family: 'Rubik', sans-serif;
			font-weight: 400;
			line-height: 24px;
			font-size: 16px;
			color: $black-light;

			&:first-child {
				margin-right: 8px;
			}

			a {
				color: $red-light;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.search-page {
		&-title {
			margin-top: 40px;
		}

		.select-row {
			margin-bottom: 24px;

			.select {
				width: 360px!important;
				margin-right: 8px;
				margin-left: 8px;
				left: 0;

				&.select-multi {
					margin-right: 0;
				}

				&:first-child {
					margin-left: 0;
				}
			}


			.filter-item {
				margin-top: 24px;
				margin-left: 0!important;
				color: $red-light;
			}
		}

		.tab-content {
			.tab-pane {
				.search-table {
					background-color: $white-color;
					padding: 16px;
					border-radius: 4px;

					.manufacturer-col {
						width: 72px;
						min-width: 72px;
						.big-col {
							display: none;
						}

						.small-col {
							display: block;
						}
					}

					.article-col {
						width: 85px;
						min-width: 85px;
					}

					.name-col {
						width: 138px;
						min-width: 138px;
						text-overflow: ellipsis;
						padding-right: 8px;
						overflow: hidden;
						max-height: 32px;
					}

					.count-col {
						width: 80px;
						min-width: 80px;
					}

					.delivery-col {
						width: 74px;
						min-width: 74px;
						text-align: right;
					} 

					.list-col {
						width: 106px;
						min-width: 106px;
						text-align: right;
					} 

					.price-col {
						padding-left: 24px;
						width: 87px;
						min-width: 87px;
						text-align: left;
						font-weight: 500;

						.fas {
							font-size: 12px;
						}

						p{
							font-weight: 500;
						}

						a {
							font-weight: 400;
						}
					}

					.basket-col {
						width: 22px;
						min-width: 22px;
					}

					.more-col {
						min-width: 39px;
						width: 39px;
						text-align: right;
					}
				}

				.table-producer {
					display: none;
					.manufacturer-col {
						width: 79px;
						min-width: 79px;

						.big-col {
							display: none;
						}

						.small-col {
							display: block;
						}
					}

					.article-col {
						width: 105px;
						min-width: 105px;
					}

					.name-col {
						width: 200px;
						min-width: 200px;
						overflow: hidden;
						max-height: 32px;
						padding-right: 2px;
					}

					.count-col {
						text-align: right;
						width: 66px;
						min-width: 66px;
					}

					.delivery-col {
						width: 109px;
						min-width: 109px;
					} 

					.price-col {
						width: 105px;
						min-width: 105px;
					}

					.more-col {
						width: 36px;
						text-align: right;
					}
				}
			}
		}

		.link-question {

			&-item {
				margin-bottom: 64px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.search-page {
		&-title {
			margin-top: 32px;
			margin-bottom: 24px;
			max-width: 70%;

			.select-search {
				margin: 0;

				.btn-light {
					.filter-option {
						line-height: 24px;
						font-size: 20px;
						letter-spacing: normal;
						color: $red-light;
					}

					&:after {
						height: 7px;
						width: 12px;
						background-size: contain;
						vertical-align: 5px;
					}
				}
			}
		}

		nav {
			margin-bottom: 16px;

			.nav-tabs {
				.nav-link {
					margin-right: 24px;
					color: $black-light;
					max-width: 30%;
					text-overflow: ellipsis;
					overflow: hidden;
					max-height: 32px;
					margin-right: 12px;
				}
			}
		}

		.select-row {
			margin-bottom: 16px;

			.select {
				width: 45%!important;
				margin-right: 8px;
				margin-left: 0px;

				.select-multi {
					margin-right: 0;
					margin-left: 8px;
				}

				.btn-light {
					border: 1px solid $gray-light;
					box-sizing: border-box;
					border-radius: 4px;
					background: $light-gray;
					height: 40px;
					box-sizing: border-box;

					.filter-option {
						height: 40px;
						box-sizing: border-box;
						overflow: hidden;
						padding: 12px 15px;
						font-family: "Rubik";
						line-height: 16px;
						font-size: 12px;
						text-transform: uppercase;

						&:before {
							content: "Аналоги: ";
							display: inline-block;
							height: 16px;
							width: fit-content;
							vertical-align: top;
						}
					}

					.filter-option-inner {
						padding-left: 2px;
						display: inline-block;
						font-weight: 500;
					}
				}
			}

			.select-multi {
				.btn-light {
					.filter-option {
						&:before {
							content: "Прайс-листы: ";
						}
					}
				}
			}

			.filter-item {
				border: none;
				background: transparent;
				font-family: "Rubik";
				font-weight: 500;
				line-height: 16px;
				font-size: 12px;
				padding: 0;
				text-transform: uppercase;
				color: $red-light;

				&:before {
					display: inline-block;
					content: "";
					width: 9px;
					height: 16px;
					margin-right: 7px;
					margin-bottom: -3px;
					background-image: url("../images/filter1.svg");
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
				}

				&:focus {
					outline: none;
					box-shadow: none;
					color: $red-dark;
				}

				&:hover {
					color: $red-medium;
				}
			}

			.filter-item2 {
				&:before {
					display: inline-block;
					content: "";
					width: 9px;
					height: 16px;
					margin-right: 7px;
					margin-bottom: -3px;
					background-image: url("../images/filter2.svg");
					background-repeat: no-repeat;
					background-size: contain;
					background-position: center;
				}
			}

			.filter-item-disable {
				color: $gray-light;

				&:before {
					background-image: url("../images/filter-dis.png");
				}

				&:focus, &:hover {
					color: $gray-light;
				}
			}
		}

		.tab-content {
			.tab-pane {
				.search-table {
					background-color: #f4f5f7;
					padding: 0;
					border-radius: 0;

					.manufacturer-col {
						width: fit-content;
						min-width: 25%;
						order: 1;
						max-width: 25%;
						padding-right: 16px;
						overflow: hidden;
						text-overflow: ellipsis;
						font-weight: 500;
						position: relative;

						&:after {
							position: absolute;
							top: 0;
							bottom: 0;
							height: 4px;
							width: 4px;
							background: $gray-light;
							display: block;
							content: "";
							border-radius: 50%;
							right: 6px;
							margin: auto;
						}
					}

					.article-col {
						order: 5;
						width: fit-content;
						min-width: fit-content;
						margin-right: 16px;
						color: $dark-gray-regular;
						margin-top: 8px;
						position: relative;

						&:after {
							position: absolute;
							top: 0;
							bottom: 0;
							height: 4px;
							width: 4px;
							background: $gray-light;
							display: block;
							content: "";
							border-radius: 50%;
							right: -12px;
							margin: auto;
						}
					}

					.name-col {
						display: none;
					}

					.count-col {
						width: fit-content;
						min-width: fit-content;
						margin-right: 16px;
						order: 6;
						margin-top: 8px;
						position: relative;

						&:after {
							position: absolute;
							top: 0;
							bottom: 0;
							height: 4px;
							width: 4px;
							background: $gray-light;
							display: block;
							content: "";
							border-radius: 50%;
							right: -12px;
							margin: auto;
						}

						.gray {
							display: none;
						}

						p {
							color: $dark-gray-regular!important;	
						}
					}

					.delivery-col {
						order: 3;
						width: fit-content;
						min-width: 30%;
						text-align: left;
						overflow: hidden;
						text-overflow: ellipsis;
						font-weight: 500;
					} 

					.list-col {
						order: 7;
						width: fit-content;
						text-align: left;
						min-width: fit-content;
						margin-top: 8px;

						p {
							color: $dark-gray-regular!important;	
						}

						.gray {
							display: none;
						}
					} 

					.price-col {
						order: 2;
						width: fit-content;
						min-width: 25%;
						padding-left: 0;
						max-width: 25%;
						padding-right: 16px;
						overflow: hidden;
						text-overflow: ellipsis;
						position: relative;

						a {
							display: none;
						}

						&:after {
							position: absolute;
							top: 0;
							bottom: 0;
							height: 4px;
							width: 4px;
							background: $gray-light;
							display: block;
							content: "";
							border-radius: 50%;
							right: 6px;
							margin: auto;
						}
					}

					.basket-col {
						display: none;
					}

					.more-col {
						width: 15%;
						min-width: 15%;
						order: 4;
						margin-left: auto;
					}

					&-title {
						display: none!important;
					}

					&-item {
						display: block;
						height: 72px;
						padding: 16px;
						background: $white-color;
						margin-bottom: 8px;
						border-radius: 4px;
						border: 1px solid $white-color;
						-webkit-flex-wrap: wrap;
						flex-wrap: wrap;

						&:hover {
							border-color: $red-light;
							transition: 0.25s;
						}

						&:focus {
							border-color: $red-medium;
							transition: 0.25s;
						}

						.list-col {
							padding-right: 3px;
						}
					}

					&-item-hide {
						display: none!important;
						margin-bottom: 0;
					}

					.analog {
						margin-bottom: 8px;
					}
				}

				.table-producer {
					display: none;
					.manufacturer-col {
						width: fit-content;
						min-width: 25%;
						order: 1;
						max-width: 25%;
						padding-right: 16px;
						overflow: hidden;
						text-overflow: ellipsis;
						position: relative;
						font-weight: 500;

						&:after {
							position: absolute;
							top: 0;
							bottom: 0;
							height: 4px;
							width: 4px;
							background: $gray-light;
							display: block;
							content: "";
							border-radius: 50%;
							right: 6px;
							margin: auto;
						}
					}

					.article-col {
						order: 5;
						width: fit-content;
						min-width: fit-content;
						padding-right: 16px;
						margin-top: 8px;
						position: relative;

						&:after {
							position: absolute;
							top: 0;
							bottom: 0;
							height: 4px;
							width: 4px;
							background: $gray-light;
							display: block;
							content: "";
							border-radius: 50%;
							right: 6px;
							margin: auto;
						}
					}

					.name-col {
						display: none;
					}

					.count-col {
						order: 5;
						width: fit-content;
						min-width: fit-content;
						padding-right: 16px;
						margin-top: 8px;

						&:after {
							position: absolute;
							top: 0;
							bottom: 0;
							height: 4px;
							width: 4px;
							background: $gray-light;
							display: block;
							content: "";
							border-radius: 50%;
							right: 6px;
							margin: auto;
						}
					}

					.delivery-col {
						width: fit-content;
						min-width: 30%;
						order: 3;
						max-width: 30%;
						padding-right: 0;
						text-align: left;
						overflow: hidden;
						text-overflow: ellipsis;
						font-weight: 500;
					} 

					.price-col {
						width: fit-content;
						min-width: 30%;
						order: 2;
						max-width: 30%;
						padding-right: 16px;
						overflow: hidden;
						text-overflow: ellipsis;
						position: relative;

						&:after {
							position: absolute;
							top: 0;
							bottom: 0;
							height:4px;
							width: 4px;
							background: $gray-light;
							display: block;
							content: "";
							border-radius: 50%;
							right: 6px;
							margin: auto;
						}

						a {
							display: none;
						}
					}

					.more-col {
						width: fit-contetn;
						min-width: 15%;
						order: 4;
						max-width: 15%;
					}

					&-title {
						display: none!important;
					}

					&-item {
						display: block;
						height: 72px;
						padding: 16px;
						background: $white-color;
						margin-bottom: 8px;
						border-radius: 4px;
						border: 1px solid $white-color;
						-webkit-flex-wrap: wrap;
						flex-wrap: wrap;

						&:hover {
							border-color: $red-light;
							transition: 0.25s;
						}

					}
				}
			}
		}

		.link-question {
			&-item {
				margin-bottom: 64px;
			}
		}
	}
}