.settings {
	h1 {
		margin-top: 55px;
		margin-bottom: 30px;
	}

	&-form {
		border-radius: 8px;
		background-color: $white-color;
		padding: 32px 32px 48px 32px;
		margin-bottom: 48px;

		.form-group {
			margin-bottom: 15.7px;

			label {
				font-family: "Rubik";
				font-weight: 500;
				line-height: 24px;
				font-size: 16px;
				color: $black-light;
			}

			.form-control {
				background: $white-color;
				height: 48px;
				border: 1px solid $gray-light;
				box-sizing: border-box;
				border-radius: 4px;
			}
		}
		
		.form-buttons {
			padding-top: 16px;

			.create-btn {
				margin-right: 16px;
			}
		}
	}

	.line {
		width: 160px;
		height: 1px;
		margin: auto;
		margin-bottom: 24px;
		background: $gray-light;
	}

	.link-question {
		-webkit-flex-direction: row;
		flex-direction: row;

		&-item {
			margin-bottom: 80px;
			font-family: 'Rubik', sans-serif;
			font-weight: 400;
			line-height: 24px;
			font-size: 16px;
			color: $black-light;

			&:first-child {
				margin-right: 8px;
			}

			a {
				color: $red-light;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.settings {
		h1 {
			margin-top: 40px;
			margin-bottom: 31px;
		}

		&-form {
			max-width: 544px;
			margin: auto;
			margin-bottom: 48px;
			padding-top: 31px;

			.form-group {
				margin-bottom: 15px;
			}

			.form-buttons {
				padding-top: 17px;
			}
		}

		.line {
			margin-bottom: 24px;
		}

		.link-question {
			&-item {
				margin-bottom: 64px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.settings {
		h1 {
			margin-top: 32px;
			margin-bottom: 24px;
		}

		&-form {
			width: 100%;
			padding: 23px 24px 32px 24px;

			.form-buttons {
				-webkit-flex-direction: column;
				flex-direction: column;
				padding-top: 9px;

				button {
					width: 100%;
				}

				.create-btn {
					margin-right: 0;
					margin-bottom: 16px;
				}
			}
		}
	}
}