<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-12 order-md-1 order-lg-1">
                <a href="index.html"><img src="assets/images/footer-logo.svg" class="footer-logo"></a>
            </div>
            <div class="col-md-3 order-md-3 d-none d-md-block d-sm-none"></div>
            <div class="col-lg-2 col-md-3 order-md-3 order-lg-1 order-2">
                <div class="footer-menu">
                    <ul class="footer-menu-list">
                        <li class="small"><a class="gray" href="#">Разделы</a></li>
                        <li class="small"><a href="list-price.html">Список прайс-листов</a></li>
                        <li class="small"><a href="search.html">Поиск по запчастям</a></li>
                        <li class="small"><a href="help.html">Помощь</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 order-md-3 order-lg-1 order-2">
                <div class="footer-menu">
                    <ul class="footer-menu-list">
                        <li class="small footer-menu-list-title"><a class="gray" href="#">Новый прайс-лист</a></li>
                        <li class="small"><a href="#">Из файла</a></li>
                        <li class="small"><a href="#">Интеграция с 1С</a></li>
                        <li class="small"><a href="#">По эл. почте</a></li>
                        <li class="small"><a href="#">С серверва или облака</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 order-md-3 d-none d-md-block d-sm-none"></div>

            <div class="col-lg-6 order-lg-1 col-12 order-lg-2 order-md-2 order-1">
                <div class="footer-email">
                    <h1><a href="mailto:procenka@gmail.com">procenka<span>@</span>gmail.com</a></h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12">
                <div class="d-flex justify-content-between copyright">
                    <div class="small white">© 2018 Проценка.ру — все права защищены</div>
                    <div><a href="#" class="small white">Политика конфиденциальности</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>