<header class="header">
  <div class="first-row">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <div class="menu-btn" data-clicks="true">
            </div>

            <a href="" class="btn-back">Назад</a>

            <div class="header-logo">
              <a href="index.html">Проценка</a>
            </div>
            <div class="header-search">
              <div class="form-group">
                <div class="search-input">
                  <input type="text" placeholder="Наименование, номер, штрихкод" class="form-control" id="header-search">
                  <label for="header-search" class="icon" rel="tooltip"></label>
                </div>
              </div>
            </div>
            <div class="header-links">
              <ul>
                <li><a href="#">Прайс-листы</a></li>
                <li><a href="#">Помощь</a></li>
              </ul>
            </div>
            <div class="header-button">
              <div class="d-flex">
                <a href="#" class="header-button-cabinet">
                  <div class="line"></div>
                </a>

                <a href="#" class="header-button-basket">
                  <div class="count">5</div>
                  <div class="line"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="second-row">
      <div class="container">
        <div class="row">
          <div class="col-12 d-block d-lg-none">
            <div class="header-search">
              <div class="form-group">
                <div class="search-input">
                  <input type="text" placeholder="Наименование, номер, штрихкод" class="form-control" id="email">
                  <label for="email" class="icon" rel="tooltip" title="email"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="min-header-menu">
  <div class="wrap-menu">
    <ul>
      <li><a href="#">Прайс-листы</a></li>
      <li><a href="#">Помощь</a></li>
    </ul>
  </div>
</div>

