<div class="pagination">
    <ul class="pagination-list">
        <li class="pagination-item active"><a href="#">1</a></li>
        <li class="pagination-item"><a href="#">2</a></li>
        <li class="pagination-item"><a href="#">3</a></li>
        <li class="pagination-item"><a href="#">4</a></li>
        <li class="pagination-item"><a href="#">5</a></li>
        <li class="pagination-item"><a href="#"></a></li>
    </ul>
</div>