/*Button*/

.add-btn {
    display: block;
    height: 48px;
    width: 214px;
    border: none;
    color: $white-color;
    border-radius: 4px;
    background-color: $red-light;
    transition: 0.25s;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-size: 12px;
    position: relative;
    padding-right: 16px;
    text-align: right;

    &:hover {
        transition: 0.25s;
        background-color: $red-medium;
    }

    &:active {
        transition: 0.25s;
        background-color: $red-dark;
    }

    &:focus {
        box-shadow: none;
        outline: none;
    }

    span {
        position: absolute;
        top: 14px;
        left: 18px;
        display: inline-block;
        height: 20px;
        width: 20px;
        background-image: url("../images/plus.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
    }
}

.disable-btn {
    background-color: $gray-light;
    color: $white-color;
}

.create-btn {
    height: 48px;
    width: 176px;
    border: none;
    color: $white-color;
    border-radius: 4px;
    background-color: $red-light;
    transition: 0.25s;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-size: 12px;

    &:hover {
        background-color: $red-medium;
        transition: 0.25s;
    }

    &:active {
        background-color: $red-dark;
        transition: 0.25s;
    }

    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.empty-add-btn {
    height: 48px;
    width: 176px;
    border: 1px solid $red-light;
    box-shadow: border-box;
    color: $red-light;
    border-radius: 4px;
    background-color: $white-color;
    transition: 0.25s;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-size: 12px;
    text-transform: uppercase;

    &:hover {
        border-color: $red-medium;
        color: $red-medium;
        transition: 0.25s;
    }

    &:active {
        border-color: $red-dark;
        color: $red-dark;
        transition: 0.25s;
    }

    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.light-btn {
    border: 1px solid #DFE3E8;
    box-sizing: border-box;
    border-radius: 4px;
    height: 48px;
    width: 176px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: $black-light;
    transition: 0.25s;
    background: transparent;

    &:hover {
        border: 1px solid #CBCFD3;
        transition: 0.25s;
    }

    &:active {
        border: 1px solid #B7BABE;
        transition: 0.25s;
    }

    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.button-primary {
    height: 48px;
    border-radius: 4px;
    border-width: 1px;
    background: $red-light;
    border: 1px solid $red-light;
    color: $white-color;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        background: $red-medium;
        border-color: $red-medium;
        color: $white-color;
    }

    &:active {
        background: $red-dark;
        border-color: $red-dark;
        color: $white-color;
    }

    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.btn-group-toggle {
    text-transform: uppercase;

    .btn-secondary {
        width: 144px;
        height: 48px;
        color: $black-light;
        padding: 16px 0;
        text-align: center;
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        font-size: 12px;
        border: 1px solid #DFE3E8;
        box-sizing: border-box;
        background-color: transparent;
        transition: none;

        &:hover, &:active, &:focus {
            outline: none;
        }

        &:focus {
            box-shadow: none;
        }

        &.focus, &.active {
            outline: none;
            box-shadow: none;
            border-color: $red-light!important;
        }
        
        &:first-child {
            &:hover {
                border-right-color: transparent; 
            }
        }

        &:last-child {
            &:hover {
                border-left-color: transparent; 
            }
        }
    }

    .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
        background: transparent;
        color: $red-light;
        border-color: $red-light;

        &:focus {
            box-shadow: none;
        }
    }

    .active {
        color: $red-light;
        border-color: $red-light;

        &:focus {
            box-shadow: none;
        }
    }

    .focus {
        &:focus {
            box-shadow: none;
        }
    }
}

input {
    background: #FFFFFF;
    border: 1px solid #DFE3E8;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 24px;
    line-height: 48px;

    &::placeholder {
        font-family: 'Rubik', sans-serif;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        font-size: 16px;
        color: #8D99AE;
    }
}

.select-active {
    .dropdown-toggle {
        height: 48px;
        background: transparent;
        padding: 16px;
        border: 1px solid #EF233C;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 12px;
        text-transform: uppercase;
        color: $red-light;
        line-height: 16px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;

        &.btn-light {
            &:hover {
                border-color: $red-medium;
                color: $red-medium;
                outline: none;
                box-shadow: none;
            }

            &:focus {
                border-color: $red-dark;
                color: $red-dark;
                outline: none;
                box-shadow: none;
                background: $white-color;
            }
        }

        &.bs-placeholder {
            color: $red-light;
        }
    }
}

.select-default {
    .dropdown-toggle {
        height: 48px;
        background: transparent;
        padding: 16px;
        border: 1px solid #DFE3E8;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 12px;
        text-transform: uppercase;
        color: $black-light;
        line-height: 16px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;

        &:hover {
            color: $red-medium;
        }

        &.bs-placeholder {
            color: $black-light;
        }
    }
}

.custom-checkbox {
    min-height: 24px;
    line-height: 30px;
    padding-left: 2rem;

    .custom-control-label {
        font-family: 'Rubik', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 32px;
        color: $black-light;

        &:after {
            left: -2rem;
            width: 24px;
            height: 24px;
            border: 1px solid #8D99AE;
            box-sizing: border-box;
            border-radius: 2px;
        }

        &:before {
            left: -2rem;
            width: 24px;
            height: 24px;
            border-color: $red-light;
            background: transparent;
            border-radius: 2px;
        }
    }
}

.custom-control-input:checked ~ .custom-control-label {
    &:after {
        border-color: $red-light;
        border-width: 0.5px;
        border-radius: 2px;
    }
}

.custom-control-input:checked ~ .custom-control-label::before {
    background-color: $red-light;
    border-color: $red-light;
}

.custom-radio {
    margin-bottom: 8px;

    .custom-control-label {
        padding-top: 3px;
        padding-left: 4px;
        margin-bottom: 0!important;
    }

    .custom-control-label::before, .custom-control-label::after {
        height: 20px;
        width: 20px;
        margin-right: 8px;
    }
}

.nav-tabs {
    border-bottom: none;

    .nav-item {
        .nav-link {
            border: none;
            background: $gray-light;
            margin-right: 1px;
            color: $black-light;
            font-family: 'Rubik', sans-serif;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            font-size: 12px;
            text-transform: uppercase;
        }

        .active {
            border: none;
            background: $white-color;
            color: $black-light;
        }
    }
}

.tab-content {
    margin-bottom: 10px;
}

.clean-table {
    position: absolute;
    top: 10px;
    right: 16px;
    color: $red-light;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-size: 12px;
    text-transform: uppercase;

    &:hover {
        color: $red-medium;
    }

    &:focus {
        color: $red-dark;
    }
}


/*table*/

.table {
    margin-bottom: 0px;
    border-collapse: separate!important;
    border-spacing: 0;

    .row-select {
        border: none!important;
        th {
            border: none;
            padding-left: 0;
        }
    }

    .row-title {
        border: none!important;

        th {
            padding-top: 4px; 
            padding-bottom: 0px;
            border: none;
            font-family: 'Rubik', sans-serif;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            font-size: 12px;
            padding-left: 17px;
            text-transform: uppercase;
            color: $dark-gray-light;
        }
    }
    
    tbody {
        tr {
            td {
                font-family: 'Rubik', sans-serif;
                height: 48px;
                padding: 16px;
                line-height: 16px;
                font-size: 14px;
                padding-left: 16px;
                padding-right: 16px;
                box-sizing: border-box;
                border-top: 1px solid $white-color;
                border-bottom: 1px solid $light-gray;
                border-right: none;
                border-left: none;
            }

            &:hover {
                td {
                    border-color:$red-medium;
                }
            }

            &:focus {
                td {
                    border-color: $red-dark;
                }
            }
        }
    }
}

/*pagination*/

.pagination {
    padding-top: 16px;
    padding-bottom: 20px;

    &-list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: row;
    }

    &-item {
        display: block;
        margin-right: 8px;

        a {
            width: 32px;
            height: 32px;
            display: block;
            text-align: center;
            padding: 8px 0;
            font-family: "Rubik";
            font-weight: 500;
            line-height: 16px;
            font-size: 12px;
            color: $black-light;
            background: $gray-light;
            border-radius: 4px;

            &:hover {
                text-decoration: none;
                background: $gray-medium;
            }

            &:focus {
                text-decoration: none;
                background: $gray-regular;
            }
        }

        &:last-child {
            margin-right: 0;
            a {
                background-color: transparent;
                background-image: url("../images/arrow.svg");
                background-size: auto;
                background-repeat: no-repeat;
                background-position: center left; 
            }
        }

        &.active {
            a {
                color: $white-color;
                background-color: $red-light;
            }
        }
    }
}


/*show count*/

.show-count {
    margin-top: 16px;
    width: 169px;
    height: 32px;
    box-sizing: border-box;
    border: 1px solid $gray-light;
    border-radius: 4px;

    .input-group {
        padding: 7px 16px 9px 16px;
        height: 32px;
        border: none;

        &-text {
            padding: 0;
            border: none;
            background: none;
            font-family: "Rubik";
            font-weight: 400;
            line-height: 16px;
            font-size: 12px;
            text-transform: uppercase;
        }

        .custom-select {
            padding: 0 0 0 5px;
            background: $light-gray url('../images/arrow-down.svg') no-repeat right top 4px/11px 7px;
            width: fit-content;
            border: none;
            line-height: 16px;
            font-size: 12px;
            height: 16px;
            font-family: "Rubik";
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;

            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}


/*input-count*/
.countItem {
    width: fit-content;
    margin-left: auto;

    .btn-minus, .btn-plus{
        min-height: 20px;
        min-width: 20px;
        display: block;
        line-height: 14px;
        padding: 0;
        overflow: hidden;
        cursor: pointer;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .btn-minus {
        background-image: url('../images/btn-minus.svg');
    }

    .btn-plus {
        background-image: url('../images/btn-plus.svg')
    }

    .count {
        background: $light-gray;
        border: 1px solid $gray-light;
        box-sizing: border-box;
        border-radius: 4px;
        width: 56px;
        height: 32px;
        padding: 0;
        text-align: center;
        margin: 0 10px;
        font-family: "Rubik";
        line-height: 24px;
        font-size: 16px;
        color: $black-light;
    }
}



@include media-breakpoint-down(md) {
    .container {
        width: 100%;
        max-width: 768px;
    }

    .btn-group-toggle {
        text-transform: uppercase;

        .btn-secondary {
            width: 144px;
            height: 48px;
            color: $black-light;
            padding: 16px 0;
            text-align: center;
            font-family: 'Rubik', sans-serif;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            font-size: 12px;
            border: 1px solid #DFE3E8;
            box-sizing: border-box;
            background-color: transparent;
            transition: none;

            &:focus {
                box-shadow: none;
            }
        }

        .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
            background: transparent;
            color: $red-light;
            border-color: $red-light;

            &:focus {
                box-shadow: none;
            }
        }

        .active {
            color: $red-light;
            border-color: $red-light;

            &:focus {
                box-shadow: none;
            }
        }

        .focus {
            &:focus {
                box-shadow: none;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .btn-group-toggle {
        text-transform: uppercase;
        width: 100%;

        .btn-secondary {
            width: 50%;
            height: 48px;
            color: $black-light;
            padding: 16px 0;
            text-align: center;
            font-family: 'Rubik', sans-serif;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            font-size: 12px;
            border: 1px solid #DFE3E8;
            box-sizing: border-box;
            background-color: transparent;
            transition: none;

            &:focus {
                box-shadow: none;
            }
        }

        .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
            background: transparent;
            color: $red-light;
            border-color: $red-light;

            &:focus {
                box-shadow: none;
            }
        }

        .active {
            color: $red-light;
            border-color: $red-light;

            &:focus {
                box-shadow: none;
            }
        }

        .focus {
            &:focus {
                box-shadow: none;
            }
        }
    }
}