.footer {
    background-color: $black-light;
    padding-top: 40px;

    &-menu {
        &-list {
            margin-top: -4px; 
            list-style: none;
            padding: 0;
            margin-bottom: 28px;

            li {
                padding: 4px 0;

                a {
                    color: $white-color;
                }
                
                .gray {
                    color: $dark-gray-regular;
                    letter-spacing: 0.4px;
                }
            }
        }
    }

    &-email {
        text-align: right;
        a {
            color: $white-color;
            text-decoration: none;

            span {
                color: $red-light;
            }
        }
    }

    .copyright {
        padding: 15px 0;
        border-top: 1px solid rgba(255,255,255, 0.1);

        .white {
            vertical-align: top;
            color: $white-color;

            &:last-child {
                letter-spacing: 0.3px;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .footer {
        padding-top: 80px;

        .d-flex {
            -webkit-justify-content: space-between;
            justify-content: space-between; 
        }

        &-logo {
            display: block;
            margin: auto;
            margin-bottom: 16px; 
        }

        &-menu {
            text-align: center;
            margin-bottom: 20px;

            &-list { 
                margin-left: 0;
                margin-bottom: 14px;
            }

            &:first-child {
                margin-left: 0; 
                margin-right: 0; 
            }

            &:last-child {
                margin-right: 0; 
                margin-left: 0; 
            }
        }

        &-email {
            text-align: center;
            h1 {
                line-height: 24px;
                font-size: 16px;
                margin-bottom: 24px;
                letter-spacing: -0.9px;
            }
        }

        .copyright {
            -webkit-flex-direction: column;
            flex-direction: column;
            text-align: center;
            padding: 24px 0 16px 0;
            border-top: 1px solid rgba(255,255,255, 0.1);

            .white {
                &:first-child {
                    order: 2;
                }
                vertical-align: top;
                color: $white-color;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .footer {
        padding-top: 80px;

        .d-flex {
            -webkit-flex-direction: column;
            flex-direction: column;
        }

        &-menu {
            margin: auto;
            margin-bottom: 0px;

            &-list {
                margin-bottom: 20px;
                margin-left: 0;
            }

            &:first-child {
                margin-left: auto; 
                margin-right: auto; 
            }

            &:last-child {
                margin-right: auto; 
                margin-left: auto; 
            }
        }

        .copyright {
            -webkit-flex-direction: column;
            flex-direction: column;
            text-align: center;


            .white {
                vertical-align: top;
                color: $white-color;

                &:first-child {
                    margin-bottom: 8px;
                }
            }
        }
    }
}