.header {
    height: 80px;
    background-color: $white-color;
    position: relative;

    .menu-btn {
        padding-left: 23px;
        width: 64px;
        height: 64px;
        padding-top: 26px;
        background: url('../images/btn.svg');
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        display: none;
    }

    .btn-back {
        display: block;
        position: absolute;
        top: 0;
        height: 80px;
        left: -100px;
        line-height: 80px;
        font-size: 12px;
        text-transform: uppercase;
        color: $dark-gray-regular;
        font-family: "Rubik";
        font-style: normal;
        font-weight: 500;
        border-right: 1px solid $light-gray;
        padding-right: 24px;
        width: 100px;
        text-align: right;

        &:before {
            content: "";
            display: block;
            height: 24px;
            width: 24px;
            position: absolute;
            top: 28px;
            left: 0;
            background: url('../images/arrow-back.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:hover {
            color: $red-medium;

            &:before {
                background: url('../images/arrow-back-hover.svg');
            }
        }

        &:focus {
            color: $red-dark;

            &:before {
                background: url('../images/arrow-back-focus.svg');
            }
        }
    }

    .close-menu {
        padding-left: 23px;
        width: 64px;
        height: 64px;
        padding-top: 26px;
        background: url('../images/close.svg');
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }
    
    &-logo {
        line-height: 84px;
        padding-right: 2.3%;
        a {
            font-family: "Montserrat-Black";
            font-style: normal;
            font-weight: 900;
            line-height: normal;
            font-size: 24px;
            letter-spacing: 0.02em;
            color: $black-light;
            transition: 0.25s;

            &:hover {
                text-decoration: none;
                transition: 0.25s;
                color: $red-light;
            }

            &:active {
                transition: 0.25s;
                color: $red-medium;
            }
        }
    }

    &-search {
        width: 472px;
        height: 48px;
        margin-top: 16px;

        .search-input {
            position: relative;
            .icon {
                position: absolute;
                z-index: 2;
                top: 15px;
                left: 16px;
                width: 17px;
                height: 17px;
                background: url("../images/search.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }

            .form-control {
                border: 1px solid $light-gray;
                box-sizing: border-box;
                background: $light-gray;
                border-radius: 4px;
                line-height: 24px;
                height: 48px;
                font-size: 16px;
                padding-top: 3px;
                padding: 12px 12px 12px 48px;
                font-family: "Rubik", sans-serif;

                &::placeholder {
                    font-family: "Rubik", sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    color: $dark-gray-light;
                }

                &:active, &:focus {
                    outline: none;
                    box-shadow: none;
                    border: 1px solid $gray-light;
                }
            }
        }
    }

    &-links {
        margin-right: 10px;
        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                padding: 0 14px;

                a {
                    text-decoration: none;
                    font-family: "Rubik", sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 80px;
                    color: $black-light;
                    transition: 0.25s;

                    &:hover {
                        transition: 0.25s;
                        color: $red-light;
                    }

                    &:active {
                        transition: 0.25s;
                        color: $red-medium;
                    }
                }
            }
        }
    }

    &-button {

        &-login {
            display: block;
            height: 80px;
            position: relative;
            border-left: 1px solid $light-gray;
            font-family: "Rubik";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $red-light;
            padding-left: 64px;
            line-height: 80px;

            &:before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 32px;
                margin: auto;
                height: 24px;
                width: 24px;
                background-image: url("../images/login.svg");
                background-size: auto;
                background-repeat: no-repeat;
                background-position: center center;
            }

            &:hover {
                color: $red-medium;
            }

            &:focus {
                color: $red-dark;
            }
        }

        &-cabinet, &-basket {
            width: 80px;
            height: 80px;
            position: relative;
            border-left: 1px solid $light-gray;
            transition: 0s;

            .line {
                width: 100%;
                background-color: $red-light;
                height: 4px;
                position: absolute;
                bottom: 0;
                left: 0;
                display: none;
            }

            &:hover {
                transition: 0s;
                background-color: $light-gray;

                .line {
                    display: block;
                }
            }

            &:focus {
                transition: 0s;
                background-color: $gray-light;
                outline: none;

                .line {
                    display: block;
                }
            }
        }

        &-cabinet {
            box-sizing: border-box;
            background-image: url("../images/cabinet.svg");
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center center;

            &:hover, &:focus {
                background-image: url("../images/person.svg");
            }
        }

        &-basket {
            box-sizing: border-box;
            background-image: url("../images/basket.svg");
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center center;
            border-right: 1px solid $light-gray;

            &:hover, &:focus {
                background-image: url("../images/cart.svg");
            }

            .count {
                line-height: 16px;
                text-align: center;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: $red-light;
                color: $white-color;
                position: absolute;
                top: 20px;
                right: 23px;
                font-size: 12px;
            }
        }
    }
}
.min-header-menu {
    display: none;
    position: fixed;
    height: 100%;
    top: 65px;
    left: 0;
    width: 100%;
    z-index: 55;
    background: rgba(0,0,0, 0.4);
    overflow: hidden;

    .wrap-menu {
        padding: 24px;
        background-color: $white-color;

        ul {
            list-style: none;
            padding: 0;

            li {
                line-height: 24px;
                margin-bottom: 24px;
                a {
                    color: $black-light;
                    font-family: "Rubik", sans-serif;;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 1340px) {
    .header {
        .btn-back {
            display: none;
        }
    }
}

@include media-breakpoint-down(lg) {
    .header {
        &-search {
            width: 30%;
        }

        .btn-back {
            display: none;
        }
    }
}

@include media-breakpoint-down(md) {
    .header {
        height: 128px;
        .container {
            padding-left: 0px!important;
            padding-right: 0px!important;

            .row {
                margin-right: 0;
                margin-left: 0;

                .col-12 {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }

        .btn-back {
            display: none;
        }
        
        .first-row {
            height: 64px;
            width: 100%;
            line-height: 64px;
        }

        .second-row {
            padding-left: 8px;
            padding-right: 8px;
            width: 100%;
            height: 64px;
            border-top: 1px solid #F4F5F7;

            .header-search {
                display: block;
                width: 100%;
                margin-top: 8px;
            }
        }

        .menu-btn {
            display: block; 
            border-right: 1px solid #F4F5F7;
        }

        &-logo {
            margin-left: 23px;
            margin-right: auto;
            line-height: 1;
            padding-top: 18px;
        }

        &-search {
            display: none;
        }

        &-links {
            display: none;
        }

        &-button {
            &-login {
                height: 64px;
                line-height: 64px;
                padding-right: 20px;
            }

            &-cabinet, &-basket {
                width: 64px;
                max-width: 64px;
                min-width: 64px;
                height: 64px;
                position: relative;
                border-left: 1px solid $light-gray;

                .line {
                    width: 100%;
                    background-color: $red-light;
                    height: 4px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: none;
                }

                &:hover {
                    background-color: $gray-light;

                    .line {
                        display: block;
                    }
                }
            }

            &-basket {
                .count {
                    top: 12px;
                    right: 16px;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .header {
        height: 104px;

        .menu-btn {
            padding-left: 23px;
            width: 48px;
            height: 48px;
            padding-top: 26px;
            background: url('../images/btn.svg');
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;
            display: none;
        }

        .close-menu {
            background: url('../images/close.svg');
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;
        }
        
        .first-row {
            height: 48px;
            line-height: 1s;
        }

        .second-row {
            height: 56px;

            .header-search {
                display: block;
                width: 100%;
                margin-top: 8px;

                .icon {
                    top: 11px;
                    left: 11px;
                }

                .form-control {
                    padding-left: 40px;
                    height: 40px;
                    border-color: #F4F5F7;
                }
            }
        }

        .menu-btn {
            display: block; 
            border-right: 1px solid #F4F5F7;
        }

        &-logo {
            margin-left: 17px;
            margin-right: auto;
            line-height: 48px;
            padding-top: 0;
        }

        &-button {
            &-login {
                height: 48px;
                padding-left: 40px;
                line-height: 48px;
                padding-right: 16px;

                &:before {
                    left: 8px;
                }
            }

            &-cabinet, &-basket {
                width: 48px;
                height: 48px;
                min-width: 48px;
                max-width: 48px;

                .line {
                    width: 100%;
                    background-color: $red-light;
                    height: 4px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: none;
                }

                &:hover {
                    background-color: $gray-light;

                    .line {
                        display: block;
                    }
                }
            }

            &-basket {
                .count {
                    top: 4px;
                    right: 8px;
                }
            }
        }
    }

    .min-header-menu {
        display: none;
        top: 49px;
    }
}
