span.twitter-typeahead {
  width: 100%;

  .tt-menu {
    @extend .dropdown-menu;
    width: 100%;
    margin-top: 8px;
    background: $white-color;
    border: 1px solid $gray-light;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 0;
  }
  
  .tt-footer {
    background: red;
    padding: 16px 24px;
    background: $light-gray;
    font-family: "Rubik";
    font-weight: 500;
    line-height: 16px;
    font-size: 12px;
    text-transform: uppercase;
    color: $black-light;
    border-radius: 0px 0px 4px 4px;

    a {
      color: $black-light;
      cursor: pointer;
    }
    
    .label {
      margin-left: auto;
      text-align: right;
      text-transform: uppercase;
      color: $dark-gray-light;
      position: relative;

      a {
        color: $dark-gray-light;
        cursor: pointer!important;
      }

      &:before {
        position: absolute;
        top: 3px;
        left: -18px;
        display: inline-block;
        content: "";
        height: 15px;
        width: 13px;
        background-image: url("../images/enter.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .enter {
      margin-left: 20px;
      margin-top: 3px;
      background: none;
      border: none;
      padding: 0;
      height: 11px;
      width: 7px;
      background-image: url("../images/black-arrow.svg");
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .tt-suggestion {
    @extend .dropdown-item;
    padding: 12px 24px;
    font-family: "Rubik";
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    color: $black-light;
    box-sizing: border-box;
    border-bottom: 1px solid $light-gray;
  }

  .tt-suggestion.tt-cursor {
    @extend .dropdown-item.active;
  }

  .input-group & {
    display: flex !important;
    align-items: center;
    position: relative;
    flex: 1 1 auto;
    width: 1%;

    .tt-menu, .tt-hint, .tt-input {
      width: 100%;
    }


  }
}