@font-face {
    font-family: "Montserrat-SemiBold";
    src : url("../fonts/Montserrat-SemiBold.otf"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
}

@font-face {
    font-family: "Montserrat-Black";
    src : url("../fonts/Montserrat-Black.otf"),
    url("../fonts/Montserrat-Black.woff") format("woff"),
    url("../fonts/Montserrat-Black.woff2") format("woff2"),
}

@font-face {
    font-family: "Montserrat-Medium";
    src : url("../fonts/Montserrat-Medium.otf"),
    url("../fonts/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
}

@font-face {
    font-family: "Montserrat-ExtraLight";
    src : url("../fonts/Montserrat-ExtraLight.otf"),
    url("../fonts/Montserrat-ExtraLight.woff") format("woff"),
    url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"),
}

@font-face {
    font-family: "Montserrat-Light";
    src : url("../fonts/Montserrat-Light.otf"),
    url("../fonts/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat-Light.woff2") format("woff2"),
}

@font-face {
    font-family: "Montserrat-Bold";
    src : url("../fonts/Montserrat-Bold.otf"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
}

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500');


/*Color*/

$red-dark: #C41D32;

$red-medium: #DA2037;

$red-light: #EF233C;

$black-dark: #14151E;

$black-medium: #242537;

$black-light: #2B2D42;

$dark-gray-regular: #8D99AE;

$dark-gray-medium: #818C9F;

$dark-gray-light: #8D99AE;

$gray-regular:  #B7BABE;

$gray-medium:  #CBCFD3;

$gray-light: #DFE3E8;

$light-gray: #F4F5F7;

$white-color: #ffffff;

$secondary: transparent;

html {
    height: 100%;
}

body {
    background-color: $light-gray;
    height: 100%;
    color: $black-light;
}

h1 {
    margin: 0;
    font-family: "Montserrat-Bold", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 40px;
    font-size: 32px;
    letter-spacing: 0.02em;
    color: $black-light;
}

h2 {
    margin: 0;
    font-family: "Montserrat-Bold", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 20px;
    color: $black-light;
}

h3 {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    color: $black-light;
}

h4 {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
    color: $black-light;
}

p {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: $black-light;
}


a {
    transition: 0.25s;

    &:hover, &:active {
        transition: 0.25s;
        text-decoration: none;
    } 
}

b {
    font-weight: 500;
}

input.form-control {
    border: 1px solid $gray-light;

    &:focus {
        outline: none;
        box-shadow: none;
        border-color: $gray-regular;
    }

    &:hover {
        border-color: $gray-medium;
    }
}

.up {
    text-transform: uppercase;
}

.bold {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.link {
    color: $red-light;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: $red-medium;
        text-decoration: none;
    }

    &:focus {
        text-decoration: none;
        color: $red-dark;
    }
}

.small {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
    font-size: 12px;
    text-transform: uppercase;
    color: $black-light;
}

.link-font {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    font-size: 12px;
    text-transform: uppercase;
    color: $black-light;
}

@include media-breakpoint-down(sm) {
    h1 {
        line-height: 24px;
        font-size: 20px;
        letter-spacing: normal;
    }
}
